In [1]:
import pandas as pd
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.impute import SimpleImputer
from matplotlib.ticker import FixedLocator

In [2]:
# Carga del archivo
lesiones = pd.read_excel("datos/lesiones.xlsx", sheet_name='HECHOS', na_values=['SD', 'sd'])
lesiones.head()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9.0,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,NaN,CICLISTA-SD,NaN,NaN,NaN,NaN,x,NaN
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1.0,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,AUTO,NaN,AUTO-SD,NaN,x,NaN,NaN,NaN,NaN
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2.0,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,SD-SD,NaN,NaN,NaN,NaN,NaN,NaN
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2.0,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,PEATON,NaN,PEATON-SD,x,NaN,NaN,NaN,NaN,NaN
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4.0,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,AUTO,NaN,AUTO-SD,NaN,NaN,x,NaN,NaN,NaN

Función que permetirá ir corroborando la integridad de nuestros datos

In [3]:
def verificar(df):
    resumen = []
    total_filas = len(df)
    for col in df.columns:
        tipos_presentes = df[col].apply(lambda x: type(x).__name__).unique()
        cantidad_nulos = df[col].isnull().sum()
        porcentaje_nulos = round((cantidad_nulos / total_filas) * 100, 2)

        resumen.append({
            'Columna': col,
            'Tipos de Dato': tipos_presentes.tolist(),
            'Cantidad de Nulos': cantidad_nulos,
            '% de Nulos': porcentaje_nulos
        })
    return pd.DataFrame(resumen)

In [4]:
verificar(lesiones)

                  Columna       Tipos de Dato  Cantidad de Nulos  % de Nulos
0                      id               [str]                  0        0.00
1              n_victimas               [int]                  0        0.00
2                    aaaa               [int]                  0        0.00
3                      mm               [int]                  0        0.00
4                      dd               [int]                  0        0.00
5                   fecha     [datetime, str]                  0        0.00
6                    hora  [time, float, str]                  9        0.04
7             franja_hora             [float]                  9        0.04
8   direccion_normalizada        [float, str]              10868       45.69
9                  comuna   [int, str, float]               1015        4.27
10             tipo_calle        [float, str]              11045       46.44
11         otra_direccion        [str, float]              18295       76.92
12                  calle        [float, str]              10918       45.90
13                 altura             [float]              11014       46.31
14                  cruce        [float, str]              14378       60.45
15   geocodificacion_CABA        [str, float]               1252        5.26
16               longitud             [float]               1471        6.18
17                latutid             [float]               1471        6.18
18                victima        [str, float]              10733       45.13
19                acusado        [float, str]              15288       64.28
20          participantes               [str]                  0        0.00
21                   moto   [float, str, int]               8604       36.17
22                   auto   [float, str, int]              12636       53.13
23     transporte_publico   [float, str, int]              11894       50.01
24                 camion   [float, str, int]              12801       53.82
25               ciclista   [str, float, int]              11446       48.12
26               gravedad        [float, str]              23139       97.28

### Eliminación de columnas

La columna 'fecha' se conservará, las columnas `aaaa`, `mm`, y `dd`, serán eliminados por ser considerados datos redundates.

In [5]:
lesiones.drop(columns=['aaaa','mm','dd'], inplace=True)

Eliminamos columna `hora`, para conservar la columna `franja_hora`, porque tiene la hora en entero, esto optimiza futuros análisis.

In [6]:
lesiones.drop(columns=['hora'],inplace=True)

Para la ubicación se utilizará las columnas `latitud` y `longitud`. Procederemos a eliminar las columnas relacionadas a direcciones.

In [7]:
# lesiones.drop(columns=['otra_direccion','calle','altura','cruce','geocodificacion_CABA','direccion_normalizada'],inplace=True)

La columna `participantes`detalla la información sobre los involucrados en el incidente, por tanto, columnas para detallar la presencia de **moto**, **auto**, **transporte público**, **camión** y **ciclista** resultan redundantes.

In [8]:
lesiones.drop(columns=['moto','auto','transporte_publico','camion','ciclista'],inplace=True)

In [9]:
# Corroboramos la integridad de nuestro DF
verificar(lesiones)

                  Columna      Tipos de Dato  Cantidad de Nulos  % de Nulos
0                      id              [str]                  0        0.00
1              n_victimas              [int]                  0        0.00
2                   fecha    [datetime, str]                  0        0.00
3             franja_hora            [float]                  9        0.04
4   direccion_normalizada       [float, str]              10868       45.69
5                  comuna  [int, str, float]               1015        4.27
6              tipo_calle       [float, str]              11045       46.44
7          otra_direccion       [str, float]              18295       76.92
8                   calle       [float, str]              10918       45.90
9                  altura            [float]              11014       46.31
10                  cruce       [float, str]              14378       60.45
11   geocodificacion_CABA       [str, float]               1252        5.26
12               longitud            [float]               1471        6.18
13                latutid            [float]               1471        6.18
14                victima       [str, float]              10733       45.13
15                acusado       [float, str]              15288       64.28
16          participantes              [str]                  0        0.00
17               gravedad       [float, str]              23139       97.28

La columna `gravedad` muestra una cantidad alarmante de valores nulos. No obstante, al revisar el diccionario, se aclara que se debe considerar como gravedad `leve`.

In [10]:
lesiones['gravedad'] = lesiones['gravedad'].fillna('leve')

In [11]:
# Verificamos como va quedando el DF
df_lesiones = lesiones
df_lesiones.head()

,id,n_victimas,fecha,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latutid,victima,acusado,participantes,gravedad
0,LC-2019-0000179,1,2019-01-01 00:00:00,9.0,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,NaN,CICLISTA-SD,leve
1,LC-2019-0000053,1,2019-01-01 00:00:00,1.0,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,AUTO,NaN,AUTO-SD,leve
2,LC-2019-0000063,1,2019-01-01 00:00:00,2.0,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,SD-SD,leve
3,LC-2019-0000079,1,2019-01-01 00:00:00,2.0,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,PEATON,NaN,PEATON-SD,leve
4,LC-2019-0000082,4,2019-01-01 00:00:00,4.0,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,AUTO,NaN,AUTO-SD,leve

En la columna `comuna`, los datos 'No Especificada' serán convertidos a nulos.

In [12]:
df_lesiones['comuna'] = df_lesiones['comuna'].replace('No Especificada', np.NaN)

### Cambio de tipos de datos
Las columnas `franja_hora`, `tipo_calle`, `comuna` y ``acusado`` serán transformadas a tipo categórico.

In [13]:
# Normalizamos todos los valores nulos
mask = df_lesiones.applymap(lambda x: x == '<NA>')
df_lesiones[mask] = np.NaN

In [14]:
df_lesiones['tipo_calle'] = df_lesiones['tipo_calle'].astype('category')
df_lesiones['acusado'] = df_lesiones['acusado'].astype('category')

La columna ``fecha`` la convertiremos a formato fecha

In [15]:
df_lesiones['fecha'] = pd.to_datetime(df_lesiones['fecha'], errors='coerce')

La columna ``comuna`` y ``franja_hora`` la convertiremos a formato INT

In [16]:
df_lesiones['comuna'] = df_lesiones['comuna'].astype('Int64')
df_lesiones['franja_hora'] = df_lesiones['franja_hora'].astype('Int64')

### Renombrar columnas

In [17]:
df_lesiones.head()

,id,n_victimas,fecha,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latutid,victima,acusado,participantes,gravedad
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,NaN,CICLISTA-SD,leve
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,AUTO,NaN,AUTO-SD,leve
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,SD-SD,leve
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,PEATON,NaN,PEATON-SD,leve
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,AUTO,NaN,AUTO-SD,leve

Cambiamos todos los nombres de las columnas, para poder darle un mejor seguimiento

In [18]:
df_lesiones = df_lesiones.rename(columns={'id':'id_hecho'})
df_lesiones = df_lesiones.rename(columns={'franja_hora':'hh'})
df_lesiones = df_lesiones.rename(columns={'latutid':'latitud'})

In [19]:
df_lesiones.head()

,id_hecho,n_victimas,fecha,hh,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latitud,victima,acusado,participantes,gravedad
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,NaN,CICLISTA-SD,leve
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,AUTO,NaN,AUTO-SD,leve
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,SD-SD,leve
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,PEATON,NaN,PEATON-SD,leve
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,AUTO,NaN,AUTO-SD,leve

In [20]:
# Transformar a minúsculas las columnas en df_lesiones_hechos
columnas_a_minusc = ['tipo_calle', 'gravedad', 'victima', 'acusado', 'participantes']
df_lesiones[columnas_a_minusc] = df_lesiones[columnas_a_minusc].apply(lambda x: x.astype(str).str.lower())

# Correciones ortográficas
mapeo_correcciones_victima_lesiones = {'peaton': 'peatón','transporte publico': 'transporte público','movil': 'móvil','otro': 'otro',
'camion': 'camión','monopatin': 'monopatín','utilitario': 'utilitario'}
df_lesiones['victima'] = df_lesiones['victima'].replace(mapeo_correcciones_victima_lesiones)

In [21]:
df_lesiones.head()

,id_hecho,n_victimas,fecha,hh,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latitud,victima,acusado,participantes,gravedad
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,nan,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,ciclista,nan,ciclista-sd,leve
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,nan,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,auto,nan,auto-sd,leve
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,nan,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,nan,nan,sd-sd,leve
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,nan,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,peatón,nan,peaton-sd,leve
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,nan,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,auto,nan,auto-sd,leve

In [22]:
df_lesiones.replace('nan', np.nan, inplace=True)

In [23]:
df_lesiones.head()

,id_hecho,n_victimas,fecha,hh,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latitud,victima,acusado,participantes,gravedad
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,ciclista,NaN,ciclista-sd,leve
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,auto,NaN,auto-sd,leve
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,sd-sd,leve
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,peatón,NaN,peaton-sd,leve
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,auto,NaN,auto-sd,leve

# ETL dataframe ``LESIONES-VICTIMAS``

In [24]:
# Carga del archivo
df_lesiones_victimas = pd.read_excel('datos/lesiones.xlsx', sheet_name='VICTIMAS', na_values=['SD', 'sd'])
df_lesiones_victimas.head()

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,NaN,Varon,57.0,NaN
1,LC-2019-0000063,2019,1,1,2019-01-01,NaN,NaN,NaN,NaN
2,LC-2019-0000079,2019,1,1,2019-01-01,NaN,Varon,NaN,NaN
3,LC-2019-0000082,2019,1,1,2019-01-01,NaN,Varon,45.0,NaN
4,LC-2019-0000082,2019,1,1,2019-01-01,NaN,Mujer,45.0,NaN

La columna ``FECHA`` será conservada, las columnas **AAA**, **DD**, y **MM** serán eliminadas, por ser información redundate.

In [25]:
df_lesiones_victimas.drop(columns=['AAA','MM','DD'],inplace=True)

In [26]:
verificar(df_lesiones_victimas)

            Columna Tipos de Dato  Cantidad de Nulos  % de Nulos
0          ID hecho         [str]                  0        0.00
1            FECHA    [Timestamp]                  0        0.00
2  VEHICULO_VICTIMA  [float, str]              16272       58.95
3              SEXO  [str, float]               2228        8.07
4      EDAD_VICTIMA       [float]               4471       16.20
5          GRAVEDAD  [float, str]              27068       98.05

La columna `gravedad` muestra una cantidad alarmante de valores nulos. No obstante, al revisar el diccionario, se aclara que se debe considerar como gravedad `leve`.

In [27]:
df_lesiones_victimas['GRAVEDAD'] = df_lesiones_victimas['GRAVEDAD'].fillna('leve')

### Cambio de tipo de datos

Conversión columnas ``VEHICULO_VICTIMA``, ``GRAVEDAD`` y ``SEXO`` a tipo categórico

In [28]:
# Cambio a tipo categórico
df_lesiones_victimas['VEHICULO_VICTIMA'] = df_lesiones_victimas['VEHICULO_VICTIMA'].astype('category')
df_lesiones_victimas['GRAVEDAD'] = df_lesiones_victimas['GRAVEDAD'].astype('category')
df_lesiones_victimas['SEXO'] = df_lesiones_victimas['SEXO'].astype('category')

Conversión columna `EDAD_VICTIMA` a tipo INT, para facilitar su posterior análisis

In [29]:
df_lesiones_victimas['EDAD_VICTIMA'] = df_lesiones_victimas['EDAD_VICTIMA'].astype('Int64')

In [30]:
df_lesiones_victimas.head()

          ID hecho     FECHA  VEHICULO_VICTIMA   SEXO  EDAD_VICTIMA GRAVEDAD
0  LC-2019-0000053 2019-01-01              NaN  Varon            57     leve
1  LC-2019-0000063 2019-01-01              NaN    NaN          <NA>     leve
2  LC-2019-0000079 2019-01-01              NaN  Varon          <NA>     leve
3  LC-2019-0000082 2019-01-01              NaN  Varon            45     leve
4  LC-2019-0000082 2019-01-01              NaN  Mujer            45     leve

### Renombrar Columnas
Renombrar columnas del DF ``df_lesiones_victimas`` para la concordancia con el DF ``df_lesiones_hechos``

In [31]:
# Convertimos todo a minúsculas
df_lesiones_victimas.columns = df_lesiones_victimas.columns.str.lower()
df_lesiones_victimas.rename(columns={'id hecho': 'id_hecho', 'fecha ': 'fecha', 'sexo': 'sexo_victima'}, inplace=True)

In [32]:
df_lesiones_victimas.head()

,id_hecho,fecha,vehiculo_victima,sexo_victima,edad_victima,gravedad
0,LC-2019-0000053,2019-01-01,NaN,Varon,57,leve
1,LC-2019-0000063,2019-01-01,NaN,NaN,<NA>,leve
2,LC-2019-0000079,2019-01-01,NaN,Varon,<NA>,leve
3,LC-2019-0000082,2019-01-01,NaN,Varon,45,leve
4,LC-2019-0000082,2019-01-01,NaN,Mujer,45,leve

### Renombrar datos de las columnas

In [33]:
df_lesiones_victimas['sexo_victima'].unique()

['Varon', NaN, 'Mujer', 'varon', 'mujer', 'MUJER', 'Mujer ']
Categories (6, object): ['MUJER', 'Mujer', 'Mujer ', 'Varon', 'mujer', 'varon']

In [34]:
# Mapeo de categorías
mapeo_sexo = {'Varon': 'Masculino', 'varon': 'Masculino', 'Mujer': 'Femenino', 'mujer': 'Femenino', 'MUJER': 'Femenino', 'Mujer ': 'Femenino'}
# Aplicar el mapeo a la columna 'sexo_victima'
df_lesiones_victimas['sexo_victima'] = df_lesiones_victimas['sexo_victima'].map(mapeo_sexo, na_action='ignore')

In [35]:
df_lesiones_victimas['sexo_victima'].unique()

array(['Masculino', nan, 'Femenino'], dtype=object)

Corregimos la ortografía de la columna ``vehiculo_victima``

In [36]:
# Diccionario dado:
diccionario_correcciones = {'movil': 'móvil','camion': 'camión','monopatin': 'monopatín','peaton':'peatón',
                            'transporte publico':'transporte público'}
# Correción acorde al diccionario
df_lesiones_victimas['vehiculo_victima'] = df_lesiones_victimas['vehiculo_victima'].replace(diccionario_correcciones.keys(), diccionario_correcciones.values(), regex=True)

In [37]:
# Convertimos los valores 'nan' en valores nulos
df_lesiones_victimas.replace('nan', np.nan, inplace=True)

In [38]:
df_lesiones_victimas.head()

,id_hecho,fecha,vehiculo_victima,sexo_victima,edad_victima,gravedad
0,LC-2019-0000053,2019-01-01,NaN,Masculino,57,leve
1,LC-2019-0000063,2019-01-01,NaN,NaN,<NA>,leve
2,LC-2019-0000079,2019-01-01,NaN,Masculino,<NA>,leve
3,LC-2019-0000082,2019-01-01,NaN,Masculino,45,leve
4,LC-2019-0000082,2019-01-01,NaN,Femenino,45,leve

In [39]:
# Creamos una función para asignar el rango etario

def asignar_rango(edad):
    rangos_etarios = {
        (0, 17): "1_ 0 a 17 años",
        (18, 29): "2_ 18 a 29 años",
        (30, 39): "3_ 30 a 39 años",
        (40, 49): "4_ 40 a 49 años",
        (50, 59): "5_ 50 a 59 años",
        (60, float('inf')): "6_ 60 años o más"
    }

    for rango, etiqueta in rangos_etarios.items():
        if rango[0] <= edad <= rango[1]:
            return etiqueta

    return np.nan

In [40]:
df_lesiones_victimas

,id_hecho,fecha,vehiculo_victima,sexo_victima,edad_victima,gravedad
0,LC-2019-0000053,2019-01-01,NaN,Masculino,57,leve
1,LC-2019-0000063,2019-01-01,NaN,NaN,<NA>,leve
2,LC-2019-0000079,2019-01-01,NaN,Masculino,<NA>,leve
3,LC-2019-0000082,2019-01-01,NaN,Masculino,45,leve
4,LC-2019-0000082,2019-01-01,NaN,Femenino,45,leve
...,...,...,...,...,...,...
27600,LC-2021-0451911,2021-09-11,TRANSPORTE PUBLICO,Masculino,87,leve
27601,LC-2021-0530228,2021-10-25,TRANSPORTE PUBLICO,Femenino,60,leve
27602,LC-2021-0530228,2021-10-25,TRANSPORTE PUBLICO,Femenino,32,leve
27603,LC-2021-0201378,2021-05-02,MOTO,Masculino,32,leve
27604,LC-2021-0229350,2021-05-19,MOTO,Masculino,41,leve

# ETL dataframe ``HOMICIDIOS-HECHOS``

In [41]:
homicidios_hechos= pd.read_excel('datos/homicidios.xlsx',sheet_name = 'HECHOS',na_values=['SD', 'sd'])

In [42]:
homicidios_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7.0,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0.0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,NaN
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5.0,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

### Eliminación de columnas
La columna `FECHA` será conservada, las columnas **AAAA**, **DD**, y **MM**, serán eliminadas por ser consideradas información redundate.

In [43]:
homicidios_hechos.drop(columns=['AAAA','DD','MM'],inplace=True)

La columna ``HH``, que representa la hora entera, será conservada, mientras que la columna **HORA**, que incluye los minutos, será eliminada.

In [44]:
homicidios_hechos.drop(columns=['HORA'],inplace=True)

Para la ubicación del hecho, se ha decidido utilizar las columnas `pos X` y `pos Y`, procedemos a eliminar las demas columnas que hacen referencia a ubicación.

In [45]:
homicidios_hechos.drop(columns=['LUGAR_DEL_HECHO','Calle','Altura','Cruce','Dirección Normalizada','XY (CABA)'],inplace=True)

### 2. Valores Nulos
Calcular el porcentaje de valores nulos por columnas

In [46]:
verificar(homicidios_hechos)

          Columna Tipos de Dato  Cantidad de Nulos  % de Nulos
0              ID         [str]                  0        0.00
1      N_VICTIMAS         [int]                  0        0.00
2           FECHA   [Timestamp]                  0        0.00
3              HH       [float]                  1        0.14
4   TIPO_DE_CALLE         [str]                  0        0.00
5          COMUNA         [int]                  0        0.00
6           pos x         [str]                  0        0.00
7           pos y         [str]                  0        0.00
8   PARTICIPANTES         [str]                  0        0.00
9         VICTIMA  [str, float]                  9        1.29
10        ACUSADO  [str, float]                 23        3.30

El porcentaje de valores nulos en el conjunto de datos es bajo, afectando solo a 3 columnas. Sin embargo, se identificaron irregularidades en la columna de "Comuna", donde la presencia de "Comuna 0" indica una inconsistencia, ya que las comunas deben estar en el rango de 1 a 15. Estos casos también serán tratados como valores nulos. Además, se observaron puntos en las columnas "Pos X" y "Pos Y", y se decidirá reemplazarlos por valores nulos para mantener la consistencia en la representación de coordenadas geográficas.

In [47]:
# Reemplazo de la Comuna 0 por Valores Nulos
homicidios_hechos.loc[homicidios_hechos['COMUNA'] == 0, 'COMUNA'] = np.nan

# Reemplazo de los '.' por valores nulos de las columnas pos x y pos y
homicidios_hechos.loc[homicidios_hechos['pos x'] == '.' ,'pos x'] = np.nan
homicidios_hechos.loc[homicidios_hechos['pos y'] == '.' ,'pos y'] = np.nan

In [48]:
verificar(homicidios_hechos)

          Columna Tipos de Dato  Cantidad de Nulos  % de Nulos
0              ID         [str]                  0        0.00
1      N_VICTIMAS         [int]                  0        0.00
2           FECHA   [Timestamp]                  0        0.00
3              HH       [float]                  1        0.14
4   TIPO_DE_CALLE         [str]                  0        0.00
5          COMUNA       [float]                  2        0.29
6           pos x  [str, float]                 12        1.72
7           pos y  [str, float]                 12        1.72
8   PARTICIPANTES         [str]                  0        0.00
9         VICTIMA  [str, float]                  9        1.29
10        ACUSADO  [str, float]                 23        3.30

### Cambio de tipo de datos
Las columnas ``HH``, ``TIPO_DE_CALLE``, ``COMUNA`` y ``ACUSADO`` las pasaremos a tipo **CATEGORY**

In [49]:
homicidios_hechos['HH'] = homicidios_hechos['HH'].astype('category')
homicidios_hechos['TIPO_DE_CALLE'] = homicidios_hechos['TIPO_DE_CALLE'].astype('category')
homicidios_hechos['COMUNA'] = homicidios_hechos['COMUNA'].astype('category')
homicidios_hechos['ACUSADO'] = homicidios_hechos['ACUSADO'].astype('category')

Las columnas 'pos X' y 'pos Y' serán transformadas al tipo **FLOAT**

In [50]:
homicidios_hechos['pos x'] = homicidios_hechos['pos x'].astype('float')
homicidios_hechos['pos y'] = homicidios_hechos['pos y'].astype('float')

### Renombrar columnas

In [51]:
# Pasamos a minúscilas todos los encabezados
homicidios_hechos.columns = homicidios_hechos.columns.str.lower()

Renombrar columnas: ``id``, ``pos x`` y ``pos y``

In [52]:
homicidios_hechos.rename(columns={'id': 'id_hecho', 'pos x': 'longitud', 'pos y': 'latitud','tipo_de_calle':'tipo_calle'}, inplace=True)

Pasar a minúsculas el contenido de las columnas `tipo_calle`, `participantes`, `victima` y `acusado`

In [53]:
columnas_a_minusc = ['tipo_calle', 'participantes', 'victima', 'acusado']
homicidios_hechos[columnas_a_minusc] = homicidios_hechos[columnas_a_minusc].apply(lambda x: x.astype(str).str.lower())

In [54]:
homicidios_hechos.head()

,id_hecho,n_victimas,fecha,hh,tipo_calle,comuna,longitud,latitud,participantes,victima,acusado
0,2016-0001,1,2016-01-01,4.0,avenida,8.0,-58.475340,-34.687570,moto-auto,moto,auto
1,2016-0002,1,2016-01-02,1.0,gral paz,9.0,-58.508775,-34.669777,auto-pasajeros,auto,pasajeros
2,2016-0003,1,2016-01-03,7.0,avenida,1.0,-58.390403,-34.631894,moto-auto,moto,auto
3,2016-0004,1,2016-01-10,0.0,avenida,8.0,-58.465039,-34.680930,moto-sd,moto,nan
4,2016-0005,1,2016-01-21,5.0,avenida,1.0,-58.387183,-34.622466,moto-pasajeros,moto,pasajeros

In [55]:
# Convertimos los nan a valores nulos
homicidios_hechos.replace('nan', np.nan, inplace=True)

Creamos la columna 'gravedad' y asignamos el valor 'fatal'

In [56]:
homicidios_hechos['gravedad']='fatal'

In [57]:
homicidios_hechos.head()

,id_hecho,n_victimas,fecha,hh,tipo_calle,comuna,longitud,latitud,participantes,victima,acusado,gravedad
0,2016-0001,1,2016-01-01,4.0,avenida,8.0,-58.475340,-34.687570,moto-auto,moto,auto,fatal
1,2016-0002,1,2016-01-02,1.0,gral paz,9.0,-58.508775,-34.669777,auto-pasajeros,auto,pasajeros,fatal
2,2016-0003,1,2016-01-03,7.0,avenida,1.0,-58.390403,-34.631894,moto-auto,moto,auto,fatal
3,2016-0004,1,2016-01-10,0.0,avenida,8.0,-58.465039,-34.680930,moto-sd,moto,NaN,fatal
4,2016-0005,1,2016-01-21,5.0,avenida,1.0,-58.387183,-34.622466,moto-pasajeros,moto,pasajeros,fatal

Cambiar el contenido de la columna **victima**, según el diccionario dado.

In [58]:
mapeo_correcciones_victima = {'peaton': 'peatón','movil': 'móvil'}
homicidios_hechos['victima'] = homicidios_hechos['victima'].replace(mapeo_correcciones_victima)

In [59]:
homicidios_hechos.head()

,id_hecho,n_victimas,fecha,hh,tipo_calle,comuna,longitud,latitud,participantes,victima,acusado,gravedad
0,2016-0001,1,2016-01-01,4.0,avenida,8.0,-58.475340,-34.687570,moto-auto,moto,auto,fatal
1,2016-0002,1,2016-01-02,1.0,gral paz,9.0,-58.508775,-34.669777,auto-pasajeros,auto,pasajeros,fatal
2,2016-0003,1,2016-01-03,7.0,avenida,1.0,-58.390403,-34.631894,moto-auto,moto,auto,fatal
3,2016-0004,1,2016-01-10,0.0,avenida,8.0,-58.465039,-34.680930,moto-sd,moto,NaN,fatal
4,2016-0005,1,2016-01-21,5.0,avenida,1.0,-58.387183,-34.622466,moto-pasajeros,moto,pasajeros,fatal

In [60]:
verificar(homicidios_hechos)

          Columna Tipos de Dato  Cantidad de Nulos  % de Nulos
0        id_hecho         [str]                  0        0.00
1      n_victimas         [int]                  0        0.00
2           fecha   [Timestamp]                  0        0.00
3              hh  [float, nan]                  1        0.14
4      tipo_calle         [str]                  0        0.00
5          comuna  [float, nan]                  2        0.29
6        longitud       [float]                 12        1.72
7         latitud       [float]                 12        1.72
8   participantes         [str]                  0        0.00
9         victima  [str, float]                  9        1.29
10        acusado  [str, float]                 23        3.30
11       gravedad         [str]                  0        0.00

# ETL dataframe ``HOMICIDIOS-VICTIMAS``

In [61]:
df_homicidios_victimas= pd.read_excel('datos/homicidios.xlsx',sheet_name = 'VICTIMAS',na_values=['SD', 'sd'])

In [62]:
df_homicidios_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18.0,NaN
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01 00:00:00

### liminación de columnas
La columna `FECHA` será conservada, las columnas **AAAA**, **DD**, y **MM**, serán eliminadas por ser consideradas información redundate.

In [63]:
df_homicidios_victimas.drop(columns=['AAAA','MM','DD','FECHA_FALLECIMIENTO'],inplace=True)

### Valores nulos

In [64]:
verificar(df_homicidios_victimas)

    Columna Tipos de Dato  Cantidad de Nulos  % de Nulos
0  ID_hecho         [str]                  0        0.00
1     FECHA   [Timestamp]                  0        0.00
2       ROL  [str, float]                 11        1.53
3   VICTIMA  [str, float]                  9        1.26
4      SEXO  [str, float]                  6        0.84
5      EDAD       [float]                 53        7.39

### Cambio de tipo de datos
Conversión de columnas ``ROL``, ``VICTIMA`` y ``SEXO`` a tipo categórico

In [65]:
df_homicidios_victimas['ROL'] = df_homicidios_victimas['ROL'].astype('category')
df_homicidios_victimas['VICTIMA'] = df_homicidios_victimas['VICTIMA'].astype('category')
df_homicidios_victimas['SEXO'] = df_homicidios_victimas['SEXO'].astype('category')

### Renombrar columnas
Todos los nombres de las columnas serán convertidos a minúsculas.

In [66]:
df_homicidios_victimas.columns = df_homicidios_victimas.columns.str.lower()

Cambiamos el nombre de las columnas

In [67]:
df_homicidios_victimas.rename(columns={'edad': 'edad_victima','victima':'vehiculo_victima','sexo':'sexo_victima'}, inplace=True)

A las columnas 'rol', 'victima', 'sexo' y 'acusado' se les cambió el contenido de sus filas a minúsculas.

In [68]:
columnas_a_minusc = ['rol', 'vehiculo_victima', 'sexo_victima']
df_homicidios_victimas[columnas_a_minusc] = df_homicidios_victimas[columnas_a_minusc].apply(lambda x: x.astype(str).str.lower())

In [69]:
df_homicidios_victimas

,id_hecho,fecha,rol,vehiculo_victima,sexo_victima,edad_victima
0,2016-0001,2016-01-01,conductor,moto,masculino,19.0
1,2016-0002,2016-01-02,conductor,auto,masculino,70.0
2,2016-0003,2016-01-03,conductor,moto,masculino,30.0
3,2016-0004,2016-01-10,conductor,moto,masculino,18.0
4,2016-0005,2016-01-21,conductor,moto,masculino,29.0
...,...,...,...,...,...,...
712,2021-0092,2021-12-12,peaton,peaton,femenino,50.0
713,2021-0093,2021-12-13,pasajero_acompañante,moto,femenino,18.0
714,2021-0094,2021-12-20,pasajero_acompañante,moto,femenino,43.0
715,2021-0095,2021-12-30,conductor,moto,masculino,27.0
716,2021-0096,2021-12-15,conductor,auto,masculino,60.0

In [70]:
df_homicidios_victimas['rol'].unique()

array(['conductor', 'pasajero_acompañante', 'peaton', 'nan', 'ciclista'],
      dtype=object)

In [71]:
df_homicidios_victimas['vehiculo_victima'].unique()

array(['moto', 'auto', 'peaton', 'nan', 'cargas', 'bicicleta',
       'pasajeros', 'movil'], dtype=object)

Cambiamos los datos de las columnas ``rol`` y ``vehiculo_victima``, siguiendo las indicaciones del diccionario

In [72]:
# Diccionario de correcciones
diccionario_correcciones_rol = {'pasajero_acompañante': 'pasajero', 'peaton': 'peatón'}
diccionario_correcciones_vehi_vic = {'peaton': 'peatón', 'movil': 'móvil'}
df_homicidios_victimas['rol'] = df_homicidios_victimas['rol'].replace(diccionario_correcciones_rol)
df_homicidios_victimas['vehiculo_victima'] = df_homicidios_victimas['vehiculo_victima'].replace(diccionario_correcciones_vehi_vic)

In [73]:
df_homicidios_victimas['gravedad'] = 'fatal'

In [74]:
df_homicidios_victimas.head()

,id_hecho,fecha,rol,vehiculo_victima,sexo_victima,edad_victima,gravedad
0,2016-0001,2016-01-01,conductor,moto,masculino,19.0,fatal
1,2016-0002,2016-01-02,conductor,auto,masculino,70.0,fatal
2,2016-0003,2016-01-03,conductor,moto,masculino,30.0,fatal
3,2016-0004,2016-01-10,conductor,moto,masculino,18.0,fatal
4,2016-0005,2016-01-21,conductor,moto,masculino,29.0,fatal

# MERGE DE LOS DATAFRAMES

### DataFrame ``homicidios_hechos`` y ``homicidios_víctimas``

Integración de Datos: Fusión de Información sobre Homicidios Hechos y Víctimas

In [75]:
df_homicidios_combinado = pd.merge(homicidios_hechos, df_homicidios_victimas, how='inner', on='id_hecho')

In [76]:
df_homicidios_combinado.head()

,id_hecho,n_victimas,fecha_x,hh,tipo_calle,comuna,longitud,latitud,participantes,victima,acusado,gravedad_x,fecha_y,rol,vehiculo_victima,sexo_victima,edad_victima,gravedad_y
0,2016-0001,1,2016-01-01,4.0,avenida,8.0,-58.475340,-34.687570,moto-auto,moto,auto,fatal,2016-01-01,conductor,moto,masculino,19.0,fatal
1,2016-0002,1,2016-01-02,1.0,gral paz,9.0,-58.508775,-34.669777,auto-pasajeros,auto,pasajeros,fatal,2016-01-02,conductor,auto,masculino,70.0,fatal
2,2016-0003,1,2016-01-03,7.0,avenida,1.0,-58.390403,-34.631894,moto-auto,moto,auto,fatal,2016-01-03,conductor,moto,masculino,30.0,fatal
3,2016-0004,1,2016-01-10,0.0,avenida,8.0,-58.465039,-34.680930,moto-sd,moto,NaN,fatal,2016-01-10,conductor,moto,masculino,18.0,fatal
4,2016-0005,1,2016-01-21,5.0,avenida,1.0,-58.387183,-34.622466,moto-pasajeros,moto,pasajeros,fatal,2016-01-21,conductor,moto,masculino,29.0,fatal

Refinamiento de Datos: Ajuste de columnas en el conjunto de datos de Homicidios Combinado, según el diccionario dado.

In [77]:
df_homicidios_combinado.drop(columns=['fecha_y', 'gravedad_y'], inplace=True)
df_homicidios_combinado.rename(columns={
    'fecha_x': 'fecha',
    'gravedad_x': 'gravedad',
    'hh': 'franja_hora',
    'longitud': 'pos_x',
    'latitud': 'pos_y',
    'vehiculo_victima': 'vehiculo_victima',  # Asumiendo que deseas conservar este nombre
    'sexo_victima': 'sexo_victima',
    'edad_victima': 'edad_victima'
    }, inplace=True)

In [78]:
df_homicidios_combinado.head()

,id_hecho,n_victimas,fecha,franja_hora,tipo_calle,comuna,pos_x,pos_y,participantes,victima,acusado,gravedad,rol,vehiculo_victima,sexo_victima,edad_victima
0,2016-0001,1,2016-01-01,4.0,avenida,8.0,-58.475340,-34.687570,moto-auto,moto,auto,fatal,conductor,moto,masculino,19.0
1,2016-0002,1,2016-01-02,1.0,gral paz,9.0,-58.508775,-34.669777,auto-pasajeros,auto,pasajeros,fatal,conductor,auto,masculino,70.0
2,2016-0003,1,2016-01-03,7.0,avenida,1.0,-58.390403,-34.631894,moto-auto,moto,auto,fatal,conductor,moto,masculino,30.0
3,2016-0004,1,2016-01-10,0.0,avenida,8.0,-58.465039,-34.680930,moto-sd,moto,NaN,fatal,conductor,moto,masculino,18.0
4,2016-0005,1,2016-01-21,5.0,avenida,1.0,-58.387183,-34.622466,moto-pasajeros,moto,pasajeros,fatal,conductor,moto,masculino,29.0

In [79]:
# Eliminar la columna 'vehiculo_victima' de forma permanente
df_homicidios_combinado.drop('victima', axis=1, inplace=True)

Convertir las columnas a ``enteros`` y manejar los valores NaN

In [80]:
df_homicidios_combinado['franja_hora'] = df_homicidios_combinado['franja_hora'].astype('Int64')
df_homicidios_combinado['edad_victima'] = df_homicidios_combinado['edad_victima'].astype('Int64')

Convertir a tipo de datos ``categóricos``

In [81]:
df_homicidios_combinado['tipo_calle'] = df_homicidios_combinado['tipo_calle'].astype('category')
df_homicidios_combinado['comuna'] = df_homicidios_combinado['comuna'].astype('category')
df_homicidios_combinado['participantes'] = df_homicidios_combinado['participantes'].astype('category')
df_homicidios_combinado['acusado'] = df_homicidios_combinado['acusado'].astype('category')
df_homicidios_combinado['gravedad'] = df_homicidios_combinado['gravedad'].astype('category')
df_homicidios_combinado['rol'] = df_homicidios_combinado['rol'].astype('category')
df_homicidios_combinado['vehiculo_victima'] = df_homicidios_combinado['vehiculo_victima'].astype('category')
df_homicidios_combinado['sexo_victima'] = df_homicidios_combinado['sexo_victima'].astype('category')

Convertimos a tipo de dato ``datetime``

In [82]:
df_homicidios_combinado['fecha'] = pd.to_datetime(df_homicidios_combinado['fecha'], errors='coerce')

In [83]:
df_homicidios_combinado.to_csv('datos/homicidios_hechos_victimas.csv', index=False)

#### Tratando columnas ``franja_hora`` y `comuna`

In [84]:
nombre_columna = 'franja_hora'
filas_con_nulos = df_homicidios_combinado[df_homicidios_combinado[nombre_columna].isnull()]
filas_con_nulos

,id_hecho,n_victimas,fecha,franja_hora,tipo_calle,comuna,pos_x,pos_y,participantes,acusado,gravedad,rol,vehiculo_victima,sexo_victima,edad_victima
536,2019-0103,1,2019-12-18,<NA>,gral paz,11.0,-58.521694,-34.594716,moto-moto,moto,fatal,conductor,moto,masculino,24

Procedemos a imputar con la ``mediana`` el dato faltante en la columna ``franja_hora``, porque preferimos preservar la fila completa, ya que ese único dato faltante no afectará en gran manera

In [85]:
mediana_edad = df_homicidios_combinado['franja_hora'].median()
df_homicidios_combinado['franja_hora'] = df_homicidios_combinado['franja_hora'].fillna(mediana_edad)

In [86]:
nombre_columna = 'comuna'
filas_con_nulos = df_homicidios_combinado[df_homicidios_combinado[nombre_columna].isnull()]
filas_con_nulos

,id_hecho,n_victimas,fecha,franja_hora,tipo_calle,comuna,pos_x,pos_y,participantes,acusado,gravedad,rol,vehiculo_victima,sexo_victima,edad_victima
121,2016-0151,1,2016-11-18,20,calle,NaN,NaN,NaN,peaton-sd,NaN,fatal,peatón,peatón,nan,<NA>
141,2016-0174,1,2016-12-27,0,autopista,NaN,NaN,NaN,sd-sd,NaN,fatal,nan,nan,nan,<NA>

Procedemos a eliminar estas 2 filas, ya que la información en su mayoría de columnas es nula, no aportará mucho preservar estas columnas

In [87]:
filas_a_eliminar = [121, 141]
df_homicidios_combinado =df_homicidios_combinado.drop(filas_a_eliminar, axis=0)

In [88]:
df_homicidios_combinado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 715 entries, 0 to 716
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_hecho          715 non-null    object
 1   n_victimas        715 non-null    int64
 2   fecha             715 non-null    datetime64[ns]
 3   franja_hora       715 non-null    Int64
 4   tipo_calle        715 non-null    category
 5   comuna            715 non-null    category
 6   pos_x             704 non-null    float64
 7   pos_y             704 non-null    float64
 8   participantes     715 non-null    category
 9   acusado           694 non-null    category
 10  gravedad          715 non-null    category
 11  rol               715 non-null    category
 12  vehiculo_victima  715 non-null    category
 13  sexo_victima      715 non-null    category
 14  edad_victima      664 non-null    Int64
dtypes: Int64(2), category(8), datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 55.1+ KB

#### Tratando columna `pos_x` y `pos_y`
Verificamos de manera general la información que tiene todas las columnas, cuya columna `pos_x` es nulo

In [89]:
nombre_columna = 'pos_x'
filas_con_nulos = df_homicidios_combinado[df_homicidios_combinado[nombre_columna].isnull()]
filas_con_nulos.head()

,id_hecho,n_victimas,fecha,franja_hora,tipo_calle,comuna,pos_x,pos_y,participantes,acusado,gravedad,rol,vehiculo_victima,sexo_victima,edad_victima
39,2016-0052,1,2016-04-20,20,autopista,13.0,NaN,NaN,moto-sd,NaN,fatal,nan,moto,nan,<NA>
108,2016-0136,1,2016-10-25,0,autopista,4.0,NaN,NaN,moto-cargas,cargas,fatal,conductor,moto,nan,<NA>
182,2017-0042,1,2017-04-10,9,gral paz,14.0,NaN,NaN,moto-cargas,cargas,fatal,conductor,moto,masculino,<NA>
186,2017-0050,2,2017-04-28,11,autopista,9.0,NaN,NaN,moto-cargas,cargas,fatal,conductor,moto,masculino,46
187,2017-0050,2,2017-04-28,11,autopista,9.0,NaN,NaN,moto-cargas,cargas,fatal,pasajero,moto,masculino,16

Obteniendo la lista de códigos ``id_hecho`` donde las filas son nulas en **pos_x** y **pos_y**

In [90]:
nombre_columna = 'pos_x'
filas_con_nulos = df_homicidios_combinado[df_homicidios_combinado[nombre_columna].isnull()]
codigos_con_nulos = filas_con_nulos['id_hecho'].tolist()
print(codigos_con_nulos)

['2016-0052', '2016-0136', '2017-0042', '2017-0050', '2017-0050', '2017-0051', '2017-0140', '2018-0039', '2020-0026', '2020-0039', '2021-0023']

Traemos la base original, para poder obtener coordenas, usando la columna ``LUGAR_DEL_HECHO``, con la herramienta API de google

In [91]:
df_original = pd.read_excel('datos/homicidios.xlsx',sheet_name = 'HECHOS',na_values=['SD', 'sd'])

In [92]:
# Normalizamos los id_hecho, para ambos DF
df_original.rename(columns={'ID': 'id_hecho'}, inplace=True)

In [93]:
# Filtrar la base de datos original usando los códigos con nulos
df_original_filtrado = df_original[df_original['id_hecho'].isin(codigos_con_nulos)]
df_original_filtrado.head()

,id_hecho,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20.0,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,NaN
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0.0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9.0,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",NaN,NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11.0,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3.0,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO

Corroboramos cuantos datos se pudieron obtener sus coordenas y cuales faltaron

### Tratamos la columna `acusado`

In [94]:
if 'Desconocido' not in df_homicidios_combinado['acusado'].cat.categories:
    df_homicidios_combinado['acusado'] = df_homicidios_combinado['acusado'].cat.add_categories('Desconocido')

df_homicidios_combinado['acusado'] = df_homicidios_combinado['acusado'].fillna('Desconocido')
df_homicidios_combinado['acusado'].value_counts()

acusado
auto           210
pasajeros      178
cargas         150
objeto fijo     67
moto            58
Desconocido     21
multiple        17
bicicleta        7
otro             6
tren             1
Name: count, dtype: int64

### Tratamos las columna `rol`, `vehiculo_victima`, `sexo_victima`

In [95]:
columnas_categoricas = ['rol', 'vehiculo_victima', 'sexo_victima']

for columna in columnas_categoricas:
    if 'Desconocido' not in df_homicidios_combinado[columna].cat.categories:
        df_homicidios_combinado[columna] = df_homicidios_combinado[columna].cat.add_categories('Desconocido')
    
    df_homicidios_combinado[columna] = df_homicidios_combinado[columna].fillna('Desconocido')

In [96]:
df_homicidios_combinado.head()

,id_hecho,n_victimas,fecha,franja_hora,tipo_calle,comuna,pos_x,pos_y,participantes,acusado,gravedad,rol,vehiculo_victima,sexo_victima,edad_victima
0,2016-0001,1,2016-01-01,4,avenida,8.0,-58.475340,-34.687570,moto-auto,auto,fatal,conductor,moto,masculino,19
1,2016-0002,1,2016-01-02,1,gral paz,9.0,-58.508775,-34.669777,auto-pasajeros,pasajeros,fatal,conductor,auto,masculino,70
2,2016-0003,1,2016-01-03,7,avenida,1.0,-58.390403,-34.631894,moto-auto,auto,fatal,conductor,moto,masculino,30
3,2016-0004,1,2016-01-10,0,avenida,8.0,-58.465039,-34.680930,moto-sd,Desconocido,fatal,conductor,moto,masculino,18
4,2016-0005,1,2016-01-21,5,avenida,1.0,-58.387183,-34.622466,moto-pasajeros,pasajeros,fatal,conductor,moto,masculino,29

In [97]:
df_homicidios_combinado.to_csv('datos/lesiones_hechos_victimas.csv', index=False)

## DataFrame ``lesiones_hechos`` y ``lesiones_víctimas``

Integración de Datos: Fusión de Información sobre Homicidios Hechos y Víctimas

In [98]:
df_final_lesiones = pd.merge(df_lesiones, df_lesiones_victimas, on='id_hecho', how='inner')

In [99]:
df_final_lesiones.head()

,id_hecho,n_victimas,fecha_x,hh,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latitud,victima,acusado,participantes,gravedad_x,fecha_y,vehiculo_victima,sexo_victima,edad_victima,gravedad_y
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,ciclista,NaN,ciclista-sd,leve,2019-01-01,NaN,NaN,<NA>,leve
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,auto,NaN,auto-sd,leve,2019-01-01,NaN,Masculino,57,leve
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,sd-sd,leve,2019-01-01,NaN,NaN,<NA>,leve
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,peatón,NaN,peaton-sd,leve,2019-01-01,NaN,Masculino,<NA>,leve
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,auto,NaN,auto-sd,leve,2019-01-01,NaN,Masculino,45,leve

In [100]:
# Eliminar columnas redundantes
df_final_lesiones = df_final_lesiones.drop(columns=['fecha_y', 'gravedad_y'])

# Renombrar columnas
df_final_lesiones.rename(columns={
    'fecha_x': 'fecha',
    'hh': 'franja_hora',
    'gravedad_x': 'gravedad',
    'longitud': 'pos_x',
    'latitud': 'pos_y',
}, inplace=True)

In [101]:
df_final_lesiones.head()

,id_hecho,n_victimas,fecha,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,pos_x,pos_y,victima,acusado,participantes,gravedad,vehiculo_victima,sexo_victima,edad_victima
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,ciclista,NaN,ciclista-sd,leve,NaN,NaN,<NA>
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,auto,NaN,auto-sd,leve,NaN,Masculino,57
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,sd-sd,leve,NaN,NaN,<NA>
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,peatón,NaN,peaton-sd,leve,NaN,Masculino,<NA>
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,auto,NaN,auto-sd,leve,NaN,Masculino,45

In [102]:
verificar(df_final_lesiones)

                  Columna  Tipos de Dato  Cantidad de Nulos  % de Nulos
0                id_hecho          [str]                  0        0.00
1              n_victimas          [int]                  0        0.00
2                   fecha    [Timestamp]                  0        0.00
3             franja_hora  [int, NAType]                  8        0.03
4   direccion_normalizada   [float, str]              12696       46.00
5                  comuna  [int, NAType]               1624        5.88
6              tipo_calle   [float, str]              12879       46.67
7          otra_direccion   [str, float]              21138       76.59
8                   calle   [float, str]              12744       46.18
9                  altura        [float]              12847       46.55
10                  cruce   [float, str]              16713       60.56
11   geocodificacion_CABA   [str, float]               1430        5.18
12                  pos_x        [float]               1656        6.00
13                  pos_y        [float]               1656        6.00
14                victima   [str, float]              12822       46.46
15                acusado   [float, str]              17918       64.92
16          participantes          [str]                  0        0.00
17               gravedad          [str]                  0        0.00
18       vehiculo_victima     [nan, str]              16269       58.95
19           sexo_victima   [float, str]               2228        8.07
20           edad_victima  [NAType, int]               4471       16.20

In [103]:
nombre_columna = 'pos_x'
filas_con_nulos = df_final_lesiones[df_final_lesiones[nombre_columna].isnull()]
codigos_con_nulos = filas_con_nulos['id_hecho'].tolist()
print(codigos_con_nulos)

['LC-2019-0000928', 'LC-2019-0022496', 'LC-2019-0007634', 'LC-2019-0008283', 'LC-2019-0008283', 'LC-2019-0008974', 'LC-2019-0010983', 'LC-2019-0010983', 'LC-2019-0011092', 'LC-2019-0011335', 'LC-2019-0017186', 'LC-2019-0022256', 'LC-2019-0687058', 'LC-2019-0688515', 'LC-2019-0757409', 'LC-2019-0025134', 'LC-2019-0025021', 'LC-2019-0029566', 'LC-2019-0033845', 'LC-2019-0034229', 'LC-2019-0034229', 'LC-2019-0034229', 'LC-2019-0034229', 'LC-2019-0033624', 'LC-2019-0036508', 'LC-2019-0037956', 'LC-2019-0037956', 'LC-2019-0039050', 'LC-2019-0039585', 'LC-2019-0044699', 'LC-2019-0047479', 'LC-2019-0047733', 'LC-2019-0049828', 'LC-2019-0073279', 'LC-2019-0049592', 'LC-2019-0050069', 'LC-2019-0050175', 'LC-2019-0050175', 'LC-2019-0050670', 'LC-2019-0051216', 'LC-2019-0051464', 'LC-2019-0051464', 'LC-2019-0051508', 'LC-2019-0053244', 'LC-2019-0056387', 'LC-2019-0056420', 'LC-2019-0056420', 'LC-2019-0057074', 'LC-2019-0057299', 'LC-2019-0059155', 'LC-2019-0060398', 'LC-2019-0060398', 'LC-2019-0064934', 'LC-2019-0061593', 'LC-2019-0068407', 'LC-2019-0064712', 'LC-2019-0065577', 'LC-2019-0089512', 'LC-2019-0068429', 'LC-2019-0000815', 'LC-2019-0068660', 'LC-2019-0069433', 'LC-2019-0072758', 'LC-2019-0074074', 'LC-2019-0074074', 'LC-2019-0272454', 'LC-2019-0077641', 'LC-2019-0079343', 'LC-2019-0082107', 'LC-2019-0084634', 'LC-2019-0086214', 'LC-2019-0089490', 'LC-2019-0088817', 'LC-2019-0089526', 'LC-2019-0090310', 'LC-2019-0090547', 'LC-2019-0090583', 'LC-2019-0091178', 'LC-2019-0091431', 'LC-2019-0759998', 'LC-2019-0094688', 'LC-2019-0095392', 'LC-2019-0095392', 'LC-2019-0096162', 'LC-2019-0125948', 'LC-2019-0099485', 'LC-2019-0099864', 'LC-2019-0100208', 'LC-2019-0100422', 'LC-2019-0100420', 'LC-2019-0101125', 'LC-2019-0101157', 'LC-2019-0101415', 'LC-2019-0104127', 'LC-2019-0104131', 'LC-2019-0102918', 'LC-2019-0104014', 'LC-2019-0103181', 'LC-2019-0103181', 'LC-2019-0103271', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103728', 'LC-2019-0103755', 'LC-2019-0103755', 'LC-2019-0103793', 'LC-2019-0103860', 'LC-2019-0104126', 'LC-2019-0103162', 'LC-2019-0108190', 'LC-2019-0108806', 'LC-2019-0108835', 'LC-2019-0108835', 'LC-2019-0125924', 'LC-2019-0112834', 'LC-2019-0115523', 'LC-2019-0114281', 'LC-2019-0115200', 'LC-2019-0117095', 'LC-2019-0117682', 'LC-2019-0117682', 'LC-2019-0119434', 'LC-2019-0120839', 'LC-2019-0121118', 'LC-2019-0121707', 'LC-2019-0119115', 'LC-2019-0122512', 'LC-2019-0123706', 'LC-2019-0123712', 'PFA-2019-0000120', 'LC-2019-0124017', 'LC-2019-0125172', 'LC-2019-0126039', 'LC-2019-0127723', 'LC-2019-0128419', 'LC-2019-0128563', 'LC-2019-0130327', 'LC-2019-0131012', 'LC-2019-0131217', 'LC-2019-0132190', 'LC-2019-0133269', 'LC-2019-0133403', 'LC-2019-0135021', 'LC-2019-0207325', 'LC-2019-0138329', 'LC-2019-0140160', 'LC-2019-0140160', 'LC-2019-0140411', 'LC-2019-0143682', 'LC-2019-0144255', 'LC-2019-0690794', 'LC-2019-0691333', 'LC-2019-0151279', 'LC-2019-0153084', 'LC-2019-0153096', 'LC-2019-0765111', 'LC-2019-0762753', 'LC-2019-0154887', 'LC-2019-0154887', 'LC-2019-0154921', 'LC-2019-0156663', 'LC-2019-0158930', 'LC-2019-0159285', 'LC-2019-0161169', 'LC-2019-0161178', 'LC-2019-0161617', 'LC-2019-0159323', 'LC-2019-0159738', 'LC-2019-0162876', 'LC-2019-0162876', 'LC-2019-0163090', 'LC-2019-0163613', 'LC-2019-0163613', 'LC-2019-0163613', 'LC-2019-0164052', 'LC-2019-0163681', 'LC-2019-0168611', 'LC-2019-0169445', 'LC-2019-0171301', 'LC-2019-0179274', 'LC-2019-0171315', 'LC-2019-0174069', 'LC-2019-0174263', 'LC-2019-0180126', 'LC-2019-0180223', 'LC-2019-0180035', 'LC-2019-0180035', 'LC-2019-0181910', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184550', 'LC-2019-0184558', 'LC-2019-0184580', 'LC-2019-0183184', 'LC-2019-0186800', 'LC-2019-0187080', 'LC-2019-0188624', 'LC-2019-0185937', 'LC-2019-0190939', 'LC-2019-0189498', 'LC-2019-0190025', 'LC-2019-0190222', 'LC-2019-0190469', 'LC-2019-0190698', 'LC-2019-0188966', 'LC-2019-0192885', 'LC-2019-0192523', 'LC-2019-0193123', 'LC-2019-0195313', 'LC-2019-0194978', 'LC-2019-0195651', 'LC-2019-0195662', 'LC-2019-0195876', 'LC-2019-0196353', 'LC-2019-0196417', 'LC-2019-0196914', 'LC-2019-0199790', 'LC-2019-0200403', 'LC-2019-0199192', 'LC-2019-0200924', 'LC-2019-0201194', 'LC-2019-0201339', 'LC-2019-0201646', 'LC-2019-0201649', 'LC-2019-0201649', 'LC-2019-0201649', 'LC-2019-0201649', 'LC-2019-0202267', 'LC-2019-0203562', 'LC-2019-0209113', 'LC-2019-0209463', 'LC-2019-0207780', 'LC-2019-0208041', 'LC-2019-0208128', 'LC-2019-0209901', 'LC-2019-0217381', 'LC-2019-0210339', 'LC-2019-0211715', 'LC-2019-0211721', 'LC-2019-0212423', 'LC-2019-0212907', 'LC-2019-0212907', 'LC-2019-0213766', 'LC-2019-0218851', 'LC-2019-0277335', 'LC-2019-0212362', 'LC-2019-0214428', 'PFA-2019-0000084', 'LC-2019-0216564', 'LC-2019-0216572', 'LC-2019-0216628', 'LC-2019-0241501', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0217460', 'LC-2019-0218226', 'LC-2019-0218233', 'LC-2019-0219131', 'LC-2019-0218755', 'LC-2019-0219711', 'LC-2019-0219789', 'LC-2019-0221630', 'LC-2019-0221785', 'LC-2019-0553441', 'LC-2019-0554682', 'LC-2019-0221744', 'LC-2019-0242920', 'LC-2019-0228267', 'LC-2019-0692519', 'LC-2019-0693713', 'LC-2019-0230930', 'LC-2019-0228274', 'LC-2019-0231204', 'LC-2019-0231334', 'LC-2019-0767753', 'LC-2019-0767310', 'LC-2019-0229889', 'LC-2019-0232728', 'LC-2019-0233241', 'LC-2019-0233241', 'LC-2019-0233241', 'LC-2019-0233241', 'LC-2019-0233756', 'LC-2019-0239810', 'LC-2019-0240335', 'LC-2019-0241665', 'LC-2019-0244630', 'LC-2019-0245995', 'LC-2019-0246761', 'LC-2019-0246761', 'LC-2019-0248406', 'LC-2019-0249074', 'LC-2019-0249074', 'LC-2019-0251582', 'LC-2019-0256664', 'LC-2019-0252129', 'LC-2019-0253036', 'LC-2019-0257390', 'LC-2019-0257188', 'LC-2019-0260001', 'LC-2019-0261513', 'LC-2019-0262627', 'LC-2019-0262925', 'LC-2019-0262949', 'LC-2019-0263016', 'LC-2019-0263016', 'LC-2019-0265620', 'LC-2019-0265620', 'LC-2019-0264686', 'LC-2019-0267054', 'LC-2019-0267739', 'LC-2019-0265076', 'LC-2019-0271621', 'LC-2019-0272290', 'LC-2019-0272849', 'LC-2019-0275832', 'LC-2019-0275832', 'LC-2019-0275832', 'LC-2019-0275832', 'LC-2019-0276816', 'LC-2019-0293949', 'LC-2019-0277531', 'LC-2019-0278375', 'LC-2019-0211151', 'LC-2019-0279052', 'LC-2019-0281570', 'LC-2019-0281781', 'LC-2019-0281781', 'LC-2019-0282898', 'LC-2019-0284813', 'LC-2019-0288003', 'LC-2019-0290523', 'LC-2019-0290672', 'LC-2019-0624603', 'LC-2019-0695075', 'LC-2019-0295317', 'LC-2019-0295319', 'LC-2019-0771748', 'LC-2019-0772097', 'LC-2019-0298452', 'LC-2019-0298452', 'LC-2019-0299185', 'LC-2019-0300245', 'LC-2019-0300659', 'LC-2019-0302055', 'LC-2019-0302854', 'LC-2019-0304045', 'LC-2019-0306730', 'LC-2019-0305446', 'LC-2019-0305471', 'LC-2019-0308262', 'LC-2019-0308470', 'LC-2019-0310070', 'LC-2019-0310392', 'LC-2019-0311229', 'LC-2019-0310683', 'LC-2019-0310894', 'LC-2019-0311702', 'LC-2019-0312292', 'LC-2019-0314159', 'LC-2019-0315516', 'LC-2019-0315394', 'LC-2019-0316253', 'LC-2019-0316255', 'LC-2019-0317933', 'LC-2019-0318794', 'LC-2019-0319697', 'LC-2019-0321800', 'LC-2019-0326188', 'LC-2019-0324084', 'LC-2019-0325661', 'LC-2019-0326076', 'LC-2019-0326566', 'LC-2019-0329126', 'LC-2019-0329126', 'LC-2019-0333532', 'LC-2019-0342770', 'LC-2019-0343091', 'LC-2019-0343690', 'LC-2019-0345141', 'LC-2019-0347536', 'LC-2019-0347643', 'LC-2019-0356174', 'LC-2019-0356174', 'LC-2019-0213677', 'LC-2019-0350417', 'LC-2019-0351471', 'LC-2019-0354521', 'LC-2019-0354722', 'LC-2019-0354729', 'LC-2019-0354833', 'LC-2019-0356758', 'LC-2019-0357551', 'LC-2019-0357579', 'LC-2019-0364032', 'LC-2019-0356621', 'LC-2019-0358709', 'LC-2019-0358709', 'LC-2019-0358709', 'LC-2019-0358805', 'LC-2019-0383454', 'LC-2019-0035901', 'LC-2019-0359573', 'LC-2019-0359836', 'LC-2019-0360584', 'LC-2019-0362201', 'LC-2019-0364169', 'LC-2019-0365035', 'LC-2019-0697660', 'LC-2019-0698117', 'LC-2019-0698786', 'LC-2019-0697272', 'LC-2019-0367847', 'LC-2019-0367933', 'LC-2019-0367933', 'LC-2019-0367933', 'LC-2019-0368361', 'LC-2019-0368773', 'LC-2019-0368914', 'LC-2019-0368922', 'LC-2019-0369750', 'LC-2019-0393561', 'LC-2019-0774603', 'LC-2019-0369370', 'LC-2019-0372822', 'LC-2019-0372978', 'LC-2019-0373765', 'LC-2019-0373765', 'LC-2019-0376277', 'LC-2019-0376320', 'LC-2019-0377684', 'LC-2019-0379179', 'LC-2019-0379668', 'LC-2019-0379850', 'LC-2019-0379850', 'LC-2019-0379850', 'LC-2019-0390829', 'LC-2019-0381245', 'LC-2019-0381254', 'LC-2019-0382567', 'LC-2019-0383104', 'LC-2019-0406879', 'LC-2019-0384311', 'LC-2019-0384538', 'LC-2019-0385060', 'LC-2019-0385208', 'LC-2019-0386569', 'LC-2019-0387616', 'LC-2019-0424630', 'LC-2019-0389566', 'LC-2019-0389566', 'LC-2019-0391249', 'LC-2019-0391255', 'LC-2019-0391262', 'LC-2019-0399316', 'LC-2019-0394619', 'LC-2019-0394727', 'LC-2019-0395231', 'PFA-2019-0000314', 'LC-2019-0396090', 'LC-2019-0397024', 'LC-2019-0397410', 'LC-2019-0398190', 'LC-2019-0398857', 'LC-2019-0399090', 'LC-2019-0402254', 'LC-2019-0402854', 'LC-2019-0402854', 'LC-2019-0402930', 'LC-2019-0400939', 'LC-2019-0403688', 'LC-2019-0404340', 'LC-2019-0404554', 'LC-2019-0404554', 'LC-2019-0406429', 'LC-2019-0407624', 'LC-2019-0408042', 'LC-2019-0408134', 'LC-2019-0408137', 'LC-2019-0412500', 'LC-2019-0412500', 'LC-2019-0412849', 'LC-2019-0413108', 'LC-2019-0416964', 'LC-2019-0418194', 'LC-2019-0421971', 'LC-2019-0422984', 'LC-2019-0562086', 'LC-2019-0423209', 'LC-2019-0425118', 'LC-2019-0425548', 'LC-2019-0426479', 'LC-2019-0427350', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428463', 'LC-2019-0426714', 'LC-2019-0426832', 'LC-2019-0437727', 'LC-2019-0438578', 'LC-2019-0438578', 'LC-2019-0440492', 'LC-2019-0445362', 'LC-2019-0445362', 'LC-2019-0445498', 'LC-2019-0445498', 'LC-2019-0451714', 'LC-2019-0448569', 'LC-2019-0449018', 'LC-2019-0449189', 'LC-2019-0449189', 'LC-2019-0472717', 'LC-2019-0450618', 'LC-2019-0451358', 'LC-2019-0454246', 'LC-2019-0454265', 'LC-2019-0454303', 'LC-2019-0457068', 'LC-2019-0459442', 'LC-2019-0463855', 'LC-2019-0465335', 'LC-2019-0465335', 'LC-2019-0470303', 'LC-2019-0469129', 'LC-2019-0469129', 'LC-2019-0047133', 'LC-2019-0017707', 'LC-2019-0478457', 'LC-2019-0485906', 'LC-2019-0481462', 'LC-2019-0482122', 'LC-2019-0484369', 'LC-2019-0485943', 'LC-2019-0486356', 'LC-2019-0487217', 'LC-2019-0487327', 'LC-2019-0487327', 'LC-2019-0488225', 'LC-2019-0488407', 'LC-2019-0489331', 'LC-2019-0489869', 'LC-2019-0492588', 'LC-2019-0644788', 'LC-2019-0642723', 'PFA-2019-0000118', 'LC-2019-0497476', 'LC-2019-0703847', 'LC-2019-0704458', 'LC-2019-0704458', 'LC-2019-0704458', 'LC-2019-0499805', 'LC-2019-0499805', 'LC-2019-0510041', 'LC-2019-0512118', 'LC-2019-0513058', 'LC-2019-0514262', 'LC-2019-0514262', 'LC-2019-0520203', 'LC-2019-0521287', 'LC-2019-0522441', 'LC-2019-0526442', 'LC-2019-0526442', 'LC-2019-0539947', 'PFA-2019-0002588', 'LC-2019-0528594', 'PFA-2019-0001382', 'LC-2019-0533977', 'LC-2019-0534190', 'LC-2019-0539050', 'LC-2019-0539129', 'LC-2019-0541527', 'LC-2019-0542191', 'LC-2019-0543101', 'LC-2019-0544339', 'LC-2019-0545908', 'LC-2019-0549981', 'LC-2019-0552269', 'LC-2019-0552626', 'LC-2019-0222144', 'LC-2019-0557099', 'LC-2019-0288435', 'LC-2019-0289379', 'LC-2019-0559815', 'LC-2019-0563340', 'LC-2019-0564652', 'LC-2019-0565450', 'LC-2019-0565450', 'LC-2019-0565450', 'LC-2019-0571074', 'LC-2019-0571936', 'LC-2019-0574299', 'LC-2019-0575883', 'LC-2019-0576640', 'LC-2019-0576894', 'LC-2019-0576941', 'LC-2019-0578690', 'LC-2019-0582605', 'LC-2019-0584469', 'LC-2019-0585911', 'LC-2019-0586986', 'LC-2019-0586986', 'LC-2019-0592123', 'LC-2019-0592123', 'LC-2019-0587134', 'LC-2019-0588446', 'LC-2019-0590725', 'LC-2019-0591114', 'LC-2019-0591672', 'LC-2019-0596097', 'LC-2019-0595034', 'LC-2019-0595145', 'LC-2019-0594440', 'LC-2019-0596482', 'LC-2019-0596482', 'LC-2019-0596971', 'LC-2019-0599226', 'LC-2019-0598205', 'LC-2019-0601535', 'LC-2019-0604288', 'LC-2019-0609778', 'LC-2019-0610771', 'LC-2019-0611174', 'LC-2019-0611174', 'LC-2019-0629478', 'LC-2019-0617711', 'LC-2019-0620773', 'LC-2019-0622728', 'LC-2019-0622728', 'LC-2019-0622728', 'LC-2019-0622728', 'LC-2019-0623622', 'LC-2019-0627753', 'LC-2019-0625723', 'LC-2019-0625674', 'LC-2019-0625882', 'LC-2019-0626237', 'LC-2019-0628132', 'LC-2019-0628332', 'LC-2019-0630202', 'LC-2019-0631538', 'LC-2019-0633483', 'LC-2019-0639354', 'LC-2019-0782622', 'LC-2019-0642400', 'LC-2019-0642400', 'LC-2019-0643314', 'LC-2019-0644202', 'LC-2019-0650482', 'LC-2019-0650482', 'LC-2019-0650482', 'LC-2019-0652463', 'LC-2019-0653106', 'LC-2019-0653707', 'LC-2019-0654446', 'LC-2019-0655303', 'LC-2019-0656859', 'LC-2019-0657846', 'LC-2019-0669905', 'LC-2019-0661634', 'LC-2019-0664517', 'LC-2019-0664517', 'LC-2019-0664574', 'LC-2019-0667630', 'LC-2019-0668150', 'LC-2019-0667172', 'LC-2019-0670445', 'LC-2019-0674236', 'LC-2019-0679386', 'LC-2019-0673228', 'LC-2019-0672799', 'LC-2019-0678342', 'LC-2019-0681161', 'LC-2019-0683129', 'LC-2019-0683129', 'LC-2019-0683207', 'LC-2019-0683207', 'LC-2019-0687171', 'LC-2019-0687984', 'LC-2019-0688499', 'LC-2019-0692970', 'LC-2019-0694160', 'LC-2019-0226889', 'PFA-2019-0000301', 'LC-2019-0695290', 'LC-2019-0698194', 'LC-2019-0699391', 'LC-2019-0363995', 'LC-2019-0704560', 'LC-2019-0569109', 'LC-2019-0713934', 'LC-2019-0784125', 'LC-2019-0714590', 'LC-2019-0716862', 'LC-2019-0715836', 'LC-2019-0714685', 'LC-2019-0715682', 'LC-2019-0716405', 'LC-2019-0713995', 'LC-2019-0717109', 'LC-2019-0718510', 'LC-2019-0718510', 'LC-2019-0718814', 'LC-2019-0720907', 'LC-2019-0016646', 'LC-2019-0721578', 'LC-2019-0723596', 'LC-2019-0724627', 'LC-2019-0726385', 'LC-2019-0726385', 'LC-2019-0726623', 'LC-2019-0728857', 'LC-2019-0729848', 'LC-2019-0731984', 'LC-2019-0730355', 'LC-2019-0730355', 'LC-2019-0735146', 'LC-2019-0733746', 'LC-2019-0734960', 'LC-2019-0737465', 'LC-2019-0738080', 'LC-2019-0741360', 'LC-2019-0742465', 'LC-2019-0747093', 'LC-2019-0747040', 'LC-2019-0747152', 'LC-2019-0748358', 'LC-2019-0748260', 'LC-2019-0751806', 'LC-2019-0753872', 'LC-2019-0754697', 'LC-2019-0754933', 'LC-2019-0756888', 'LC-2019-0760169', 'LC-2019-0760241', 'LC-2019-0760708', 'LC-2019-0764954', 'LC-2019-0483085', 'LC-2019-0230425', 'LC-2019-0770339', 'LC-2019-0775506', 'LC-2019-0779437', 'LC-2019-0780605', 'LC-2019-0783428', 'LC-2019-0785509', 'LC-2019-0785509', 'LC-2019-0785917', 'LC-2019-0786079', 'LC-2019-0786186', 'LC-2019-0786335', 'LC-2019-0714583', 'LC-2019-0787811', 'LC-2019-0789231', 'LC-2019-0787032', 'LC-2019-0787108', 'LC-2019-0788459', 'LC-2019-0789071', 'LC-2019-0791863', 'LC-2019-0793434', 'LC-2019-0794628', 'LC-2019-0798824', 'LC-2019-0801314', 'LC-2019-0801781', 'LC-2019-0806378', 'LC-2019-0805240', 'LC-2019-0808658', 'LC-2019-0809677', 'LC-2019-0809677', 'LC-2019-0814768', 'LC-2019-0820450', 'LC-2019-0821504', 'LC-2019-0825248', 'LC-2019-0825248', 'LC-2019-0825124', 'LC-2019-0827385', 'LC-2019-0826300', 'LC-2019-0828693', 'LC-2019-0829834', 'LC-2019-0829653', 'LC-2020-0014194', 'LC-2020-0032603', 'LC-2020-0033993', 'LC-2020-0040501', 'LC-2020-0058430', 'LC-2020-0095119', 'LC-2020-0119620', 'LC-2020-0148886', 'LC-2020-0156460', 'LC-2020-0243248', 'LC-2020-0312651', 'LC-2020-0315731', 'LC-2020-0440731', 'LC-2020-0463780', 'LC-2020-0491466', 'LC-2020-0501514', 'LC-2020-0521670', 'LC-2020-0530248', 'LC-2020-0536235', 'LC-2020-0549752', 'LC-2020-0555383', 'LC-2020-0581113', 'LC-2020-0601663', 'LC-2020-0605529', 'LC-2020-0605710', 'LC-2020-0003335', 'LC-2020-0008854', 'LC-2020-0009247', 'LC-2020-0010446', 'LC-2020-0012172', 'LC-2020-0012993', 'LC-2020-0012993', 'LC-2020-0012993', 'LC-2020-0013653', 'LC-2020-0013653', 'LC-2020-0014239', 'LC-2020-0014548', 'LC-2020-0015215', 'LC-2020-0018602', 'LC-2020-0018621', 'LC-2020-0019737', 'LC-2020-0029707', 'LC-2020-0034364', 'LC-2020-0032528', 'LC-2020-0035844', 'LC-2020-0036402', 'LC-2020-0036402', 'LC-2020-0036455', 'LC-2020-0036894', 'LC-2020-0036894', 'LC-2020-0037204', 'LC-2020-0037516', 'LC-2020-0038396', 'LC-2020-0040536', 'LC-2020-0045421', 'LC-2020-0047280', 'LC-2020-0048731', 'LC-2020-0047628', 'LC-2020-0052079', 'LC-2020-0054540', 'LC-2020-0055186', 'LC-2020-0056510', 'LC-2020-0064877', 'LC-2020-0062673', 'LC-2020-0064451', 'LC-2020-0066597', 'LC-2020-0067132', 'LC-2020-0069739', 'LC-2020-0070572', 'LC-2020-0071163', 'LC-2020-0073614', 'LC-2020-0075672', 'LC-2020-0078865', 'LC-2020-0078904', 'LC-2020-0080203', 'LC-2020-0079039', 'LC-2020-0080271', 'LC-2020-0086624', 'LC-2020-0086615', 'LC-2020-0094507', 'LC-2020-0100950', 'LC-2020-0104501', 'LC-2020-0106898', 'LC-2020-0109564', 'LC-2020-0109604', 'LC-2020-0109604', 'LC-2020-0109617', 'LC-2020-0117887', 'LC-2020-0118130', 'LC-2020-0126254', 'LC-2020-0127492', 'LC-2020-0125712', 'LC-2020-0130012', 'HC-2020-0129167', 'LC-2020-0133088', 'LC-2020-0135576', 'LC-2020-0135825', 'LC-2020-0144473', 'LC-2020-0146851', 'LC-2020-0148258', 'LC-2020-0151936', 'LC-2020-0152911', 'LC-2020-0152834', 'LC-2020-0156993', 'LC-2020-0158369', 'LC-2020-0160978', 'LC-2020-0160978', 'LC-2020-0163537', 'LC-2020-0164253', 'LC-2020-0164253', 'LC-2020-0166235', 'LC-2020-0169622', 'LC-2020-0169921', 'LC-2020-0174751', 'LC-2020-0177206', 'LC-2020-0180037', 'LC-2020-0186392', 'LC-2020-0189384', 'LC-2020-0192488', 'LC-2020-0198305', 'LC-2020-0202436', 'LC-2020-0202881', 'LC-2020-0203017', 'LC-2020-0207514', 'LC-2020-0207514', 'LC-2020-0210772', 'LC-2020-0219140', 'LC-2020-0221192', 'LC-2020-0226964', 'LC-2020-0233332', 'LC-2020-0233750', 'LC-2020-0233317', 'LC-2020-0235180', 'LC-2020-0236242', 'LC-2020-0236244', 'LC-2020-0236255', 'LC-2020-0236439', 'LC-2020-0239992', 'LC-2020-0243296', 'LC-2020-0243872', 'LC-2020-0244301', 'LC-2020-0247062', 'LC-2020-0250528', 'LC-2020-0250543', 'LC-2020-0252324', 'LC-2020-0252355', 'LC-2020-0254488', 'LC-2020-0254501', 'LC-2020-0254983', 'LC-2020-0256398', 'LC-2020-0258002', 'LC-2020-0258090', 'LC-2020-0266202', 'LC-2020-0272700', 'LC-2020-0273475', 'LC-2020-0277919', 'LC-2020-0289726', 'LC-2020-0291144', 'LC-2020-0296777', 'LC-2020-0296777', 'LC-2020-0296777', 'LC-2020-0296777', 'LC-2020-0295766', 'LC-2020-0296652', 'LC-2020-0297498', 'LC-2020-0298774', 'LC-2020-0314880', 'LC-2020-0361823', 'LC-2020-0236983', 'LC-2020-0378363', 'LC-2020-0387137', 'LC-2020-0435701', 'LC-2020-0437222', 'LC-2020-0441093', 'LC-2020-0445441', 'LC-2020-0445350', 'LC-2020-0450678', 'LC-2020-0452010', 'LC-2020-0463624', 'LC-2020-0463624', 'LC-2020-0464063', 'LC-2020-0470556', 'LC-2020-0471322', 'LC-2020-0481320', 'LC-2020-0491597', 'LC-2020-0491597', 'LC-2020-0494711', 'LC-2020-0497249', 'LC-2020-0497695', 'LC-2020-0497937', 'LC-2020-0500083', 'LC-2020-0501537', 'LC-2020-0503386', 'LC-2020-0505116', 'LC-2020-0505867', 'LC-2020-0508162', 'LC-2020-0513862', 'LC-2020-0514005', 'LC-2020-0514850', 'LC-2020-0516241', 'LC-2020-0519731', 'LC-2020-0526649', 'LC-2020-0527536', 'LC-2020-0530719', 'LC-2020-0530719', 'LC-2020-0532140', 'LC-2020-0537258', 'LC-2020-0538255', 'LC-2020-0538385', 'LC-2020-0539875', 'LC-2020-0539942', 'LC-2020-0550109', 'LC-2020-0553811', 'LC-2020-0556731', 'LC-2020-0558255', 'LC-2020-0558999', 'LC-2020-0559982', 'LC-2020-0563571', 'LC-2020-0565973', 'LC-2020-0567324', 'LC-2020-0567324', 'LC-2020-0567324', 'LC-2020-0567324', 'LC-2020-0567836', 'LC-2020-0568638', 'LC-2020-0571165', 'LC-2020-0570872', 'LC-2020-0572452', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576390', 'LC-2020-0579472', 'LC-2020-0580185', 'LC-2020-0579674', 'LC-2020-0592026', 'LC-2020-0601157', 'LC-2020-0601906', 'LC-2020-0601906', 'LC-2020-0602876', 'LC-2020-0602876', 'LC-2020-0602658', 'LC-2020-0607025', 'LC-2020-0616666', 'LC-2020-0618069', 'LC-2020-0619521', 'LC-2020-0622839', 'LC-2020-0626651', 'LC-2020-0630838', 'LC-2020-0631642', 'LC-2020-0633222', 'LC-2020-0633634', 'LC-2020-0633867', 'LC-2020-0633970', 'LC-2020-0637839', 'LC-

In [104]:
df_original = pd.read_excel('datos/lesiones.xlsx',sheet_name = 'HECHOS',na_values=['SD', 'sd'])
# Normalizamos los id_hecho, para ambos DF
df_original.rename(columns={'id': 'id_hecho'}, inplace=True)

In [105]:
verificar(df_final_lesiones)

                  Columna  Tipos de Dato  Cantidad de Nulos  % de Nulos
0                id_hecho          [str]                  0        0.00
1              n_victimas          [int]                  0        0.00
2                   fecha    [Timestamp]                  0        0.00
3             franja_hora  [int, NAType]                  8        0.03
4   direccion_normalizada   [float, str]              12696       46.00
5                  comuna  [int, NAType]               1624        5.88
6              tipo_calle   [float, str]              12879       46.67
7          otra_direccion   [str, float]              21138       76.59
8                   calle   [float, str]              12744       46.18
9                  altura        [float]              12847       46.55
10                  cruce   [float, str]              16713       60.56
11   geocodificacion_CABA   [str, float]               1430        5.18
12                  pos_x        [float]               1656        6.00
13                  pos_y        [float]               1656        6.00
14                victima   [str, float]              12822       46.46
15                acusado   [float, str]              17918       64.92
16          participantes          [str]                  0        0.00
17               gravedad          [str]                  0        0.00
18       vehiculo_victima     [nan, str]              16269       58.95
19           sexo_victima   [float, str]               2228        8.07
20           edad_victima  [NAType, int]               4471       16.20

In [106]:
nombre_columna = 'pos_x'
filas_con_nulos2 = df_final_lesiones[df_final_lesiones[nombre_columna].isnull()]
codigos_con_nulos2 = filas_con_nulos2['id_hecho'].tolist()
print(codigos_con_nulos2)

['LC-2019-0000928', 'LC-2019-0022496', 'LC-2019-0007634', 'LC-2019-0008283', 'LC-2019-0008283', 'LC-2019-0008974', 'LC-2019-0010983', 'LC-2019-0010983', 'LC-2019-0011092', 'LC-2019-0011335', 'LC-2019-0017186', 'LC-2019-0022256', 'LC-2019-0687058', 'LC-2019-0688515', 'LC-2019-0757409', 'LC-2019-0025134', 'LC-2019-0025021', 'LC-2019-0029566', 'LC-2019-0033845', 'LC-2019-0034229', 'LC-2019-0034229', 'LC-2019-0034229', 'LC-2019-0034229', 'LC-2019-0033624', 'LC-2019-0036508', 'LC-2019-0037956', 'LC-2019-0037956', 'LC-2019-0039050', 'LC-2019-0039585', 'LC-2019-0044699', 'LC-2019-0047479', 'LC-2019-0047733', 'LC-2019-0049828', 'LC-2019-0073279', 'LC-2019-0049592', 'LC-2019-0050069', 'LC-2019-0050175', 'LC-2019-0050175', 'LC-2019-0050670', 'LC-2019-0051216', 'LC-2019-0051464', 'LC-2019-0051464', 'LC-2019-0051508', 'LC-2019-0053244', 'LC-2019-0056387', 'LC-2019-0056420', 'LC-2019-0056420', 'LC-2019-0057074', 'LC-2019-0057299', 'LC-2019-0059155', 'LC-2019-0060398', 'LC-2019-0060398', 'LC-2019-0064934', 'LC-2019-0061593', 'LC-2019-0068407', 'LC-2019-0064712', 'LC-2019-0065577', 'LC-2019-0089512', 'LC-2019-0068429', 'LC-2019-0000815', 'LC-2019-0068660', 'LC-2019-0069433', 'LC-2019-0072758', 'LC-2019-0074074', 'LC-2019-0074074', 'LC-2019-0272454', 'LC-2019-0077641', 'LC-2019-0079343', 'LC-2019-0082107', 'LC-2019-0084634', 'LC-2019-0086214', 'LC-2019-0089490', 'LC-2019-0088817', 'LC-2019-0089526', 'LC-2019-0090310', 'LC-2019-0090547', 'LC-2019-0090583', 'LC-2019-0091178', 'LC-2019-0091431', 'LC-2019-0759998', 'LC-2019-0094688', 'LC-2019-0095392', 'LC-2019-0095392', 'LC-2019-0096162', 'LC-2019-0125948', 'LC-2019-0099485', 'LC-2019-0099864', 'LC-2019-0100208', 'LC-2019-0100422', 'LC-2019-0100420', 'LC-2019-0101125', 'LC-2019-0101157', 'LC-2019-0101415', 'LC-2019-0104127', 'LC-2019-0104131', 'LC-2019-0102918', 'LC-2019-0104014', 'LC-2019-0103181', 'LC-2019-0103181', 'LC-2019-0103271', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103654', 'LC-2019-0103728', 'LC-2019-0103755', 'LC-2019-0103755', 'LC-2019-0103793', 'LC-2019-0103860', 'LC-2019-0104126', 'LC-2019-0103162', 'LC-2019-0108190', 'LC-2019-0108806', 'LC-2019-0108835', 'LC-2019-0108835', 'LC-2019-0125924', 'LC-2019-0112834', 'LC-2019-0115523', 'LC-2019-0114281', 'LC-2019-0115200', 'LC-2019-0117095', 'LC-2019-0117682', 'LC-2019-0117682', 'LC-2019-0119434', 'LC-2019-0120839', 'LC-2019-0121118', 'LC-2019-0121707', 'LC-2019-0119115', 'LC-2019-0122512', 'LC-2019-0123706', 'LC-2019-0123712', 'PFA-2019-0000120', 'LC-2019-0124017', 'LC-2019-0125172', 'LC-2019-0126039', 'LC-2019-0127723', 'LC-2019-0128419', 'LC-2019-0128563', 'LC-2019-0130327', 'LC-2019-0131012', 'LC-2019-0131217', 'LC-2019-0132190', 'LC-2019-0133269', 'LC-2019-0133403', 'LC-2019-0135021', 'LC-2019-0207325', 'LC-2019-0138329', 'LC-2019-0140160', 'LC-2019-0140160', 'LC-2019-0140411', 'LC-2019-0143682', 'LC-2019-0144255', 'LC-2019-0690794', 'LC-2019-0691333', 'LC-2019-0151279', 'LC-2019-0153084', 'LC-2019-0153096', 'LC-2019-0765111', 'LC-2019-0762753', 'LC-2019-0154887', 'LC-2019-0154887', 'LC-2019-0154921', 'LC-2019-0156663', 'LC-2019-0158930', 'LC-2019-0159285', 'LC-2019-0161169', 'LC-2019-0161178', 'LC-2019-0161617', 'LC-2019-0159323', 'LC-2019-0159738', 'LC-2019-0162876', 'LC-2019-0162876', 'LC-2019-0163090', 'LC-2019-0163613', 'LC-2019-0163613', 'LC-2019-0163613', 'LC-2019-0164052', 'LC-2019-0163681', 'LC-2019-0168611', 'LC-2019-0169445', 'LC-2019-0171301', 'LC-2019-0179274', 'LC-2019-0171315', 'LC-2019-0174069', 'LC-2019-0174263', 'LC-2019-0180126', 'LC-2019-0180223', 'LC-2019-0180035', 'LC-2019-0180035', 'LC-2019-0181910', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184071', 'LC-2019-0184550', 'LC-2019-0184558', 'LC-2019-0184580', 'LC-2019-0183184', 'LC-2019-0186800', 'LC-2019-0187080', 'LC-2019-0188624', 'LC-2019-0185937', 'LC-2019-0190939', 'LC-2019-0189498', 'LC-2019-0190025', 'LC-2019-0190222', 'LC-2019-0190469', 'LC-2019-0190698', 'LC-2019-0188966', 'LC-2019-0192885', 'LC-2019-0192523', 'LC-2019-0193123', 'LC-2019-0195313', 'LC-2019-0194978', 'LC-2019-0195651', 'LC-2019-0195662', 'LC-2019-0195876', 'LC-2019-0196353', 'LC-2019-0196417', 'LC-2019-0196914', 'LC-2019-0199790', 'LC-2019-0200403', 'LC-2019-0199192', 'LC-2019-0200924', 'LC-2019-0201194', 'LC-2019-0201339', 'LC-2019-0201646', 'LC-2019-0201649', 'LC-2019-0201649', 'LC-2019-0201649', 'LC-2019-0201649', 'LC-2019-0202267', 'LC-2019-0203562', 'LC-2019-0209113', 'LC-2019-0209463', 'LC-2019-0207780', 'LC-2019-0208041', 'LC-2019-0208128', 'LC-2019-0209901', 'LC-2019-0217381', 'LC-2019-0210339', 'LC-2019-0211715', 'LC-2019-0211721', 'LC-2019-0212423', 'LC-2019-0212907', 'LC-2019-0212907', 'LC-2019-0213766', 'LC-2019-0218851', 'LC-2019-0277335', 'LC-2019-0212362', 'LC-2019-0214428', 'PFA-2019-0000084', 'LC-2019-0216564', 'LC-2019-0216572', 'LC-2019-0216628', 'LC-2019-0241501', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0216612', 'LC-2019-0217460', 'LC-2019-0218226', 'LC-2019-0218233', 'LC-2019-0219131', 'LC-2019-0218755', 'LC-2019-0219711', 'LC-2019-0219789', 'LC-2019-0221630', 'LC-2019-0221785', 'LC-2019-0553441', 'LC-2019-0554682', 'LC-2019-0221744', 'LC-2019-0242920', 'LC-2019-0228267', 'LC-2019-0692519', 'LC-2019-0693713', 'LC-2019-0230930', 'LC-2019-0228274', 'LC-2019-0231204', 'LC-2019-0231334', 'LC-2019-0767753', 'LC-2019-0767310', 'LC-2019-0229889', 'LC-2019-0232728', 'LC-2019-0233241', 'LC-2019-0233241', 'LC-2019-0233241', 'LC-2019-0233241', 'LC-2019-0233756', 'LC-2019-0239810', 'LC-2019-0240335', 'LC-2019-0241665', 'LC-2019-0244630', 'LC-2019-0245995', 'LC-2019-0246761', 'LC-2019-0246761', 'LC-2019-0248406', 'LC-2019-0249074', 'LC-2019-0249074', 'LC-2019-0251582', 'LC-2019-0256664', 'LC-2019-0252129', 'LC-2019-0253036', 'LC-2019-0257390', 'LC-2019-0257188', 'LC-2019-0260001', 'LC-2019-0261513', 'LC-2019-0262627', 'LC-2019-0262925', 'LC-2019-0262949', 'LC-2019-0263016', 'LC-2019-0263016', 'LC-2019-0265620', 'LC-2019-0265620', 'LC-2019-0264686', 'LC-2019-0267054', 'LC-2019-0267739', 'LC-2019-0265076', 'LC-2019-0271621', 'LC-2019-0272290', 'LC-2019-0272849', 'LC-2019-0275832', 'LC-2019-0275832', 'LC-2019-0275832', 'LC-2019-0275832', 'LC-2019-0276816', 'LC-2019-0293949', 'LC-2019-0277531', 'LC-2019-0278375', 'LC-2019-0211151', 'LC-2019-0279052', 'LC-2019-0281570', 'LC-2019-0281781', 'LC-2019-0281781', 'LC-2019-0282898', 'LC-2019-0284813', 'LC-2019-0288003', 'LC-2019-0290523', 'LC-2019-0290672', 'LC-2019-0624603', 'LC-2019-0695075', 'LC-2019-0295317', 'LC-2019-0295319', 'LC-2019-0771748', 'LC-2019-0772097', 'LC-2019-0298452', 'LC-2019-0298452', 'LC-2019-0299185', 'LC-2019-0300245', 'LC-2019-0300659', 'LC-2019-0302055', 'LC-2019-0302854', 'LC-2019-0304045', 'LC-2019-0306730', 'LC-2019-0305446', 'LC-2019-0305471', 'LC-2019-0308262', 'LC-2019-0308470', 'LC-2019-0310070', 'LC-2019-0310392', 'LC-2019-0311229', 'LC-2019-0310683', 'LC-2019-0310894', 'LC-2019-0311702', 'LC-2019-0312292', 'LC-2019-0314159', 'LC-2019-0315516', 'LC-2019-0315394', 'LC-2019-0316253', 'LC-2019-0316255', 'LC-2019-0317933', 'LC-2019-0318794', 'LC-2019-0319697', 'LC-2019-0321800', 'LC-2019-0326188', 'LC-2019-0324084', 'LC-2019-0325661', 'LC-2019-0326076', 'LC-2019-0326566', 'LC-2019-0329126', 'LC-2019-0329126', 'LC-2019-0333532', 'LC-2019-0342770', 'LC-2019-0343091', 'LC-2019-0343690', 'LC-2019-0345141', 'LC-2019-0347536', 'LC-2019-0347643', 'LC-2019-0356174', 'LC-2019-0356174', 'LC-2019-0213677', 'LC-2019-0350417', 'LC-2019-0351471', 'LC-2019-0354521', 'LC-2019-0354722', 'LC-2019-0354729', 'LC-2019-0354833', 'LC-2019-0356758', 'LC-2019-0357551', 'LC-2019-0357579', 'LC-2019-0364032', 'LC-2019-0356621', 'LC-2019-0358709', 'LC-2019-0358709', 'LC-2019-0358709', 'LC-2019-0358805', 'LC-2019-0383454', 'LC-2019-0035901', 'LC-2019-0359573', 'LC-2019-0359836', 'LC-2019-0360584', 'LC-2019-0362201', 'LC-2019-0364169', 'LC-2019-0365035', 'LC-2019-0697660', 'LC-2019-0698117', 'LC-2019-0698786', 'LC-2019-0697272', 'LC-2019-0367847', 'LC-2019-0367933', 'LC-2019-0367933', 'LC-2019-0367933', 'LC-2019-0368361', 'LC-2019-0368773', 'LC-2019-0368914', 'LC-2019-0368922', 'LC-2019-0369750', 'LC-2019-0393561', 'LC-2019-0774603', 'LC-2019-0369370', 'LC-2019-0372822', 'LC-2019-0372978', 'LC-2019-0373765', 'LC-2019-0373765', 'LC-2019-0376277', 'LC-2019-0376320', 'LC-2019-0377684', 'LC-2019-0379179', 'LC-2019-0379668', 'LC-2019-0379850', 'LC-2019-0379850', 'LC-2019-0379850', 'LC-2019-0390829', 'LC-2019-0381245', 'LC-2019-0381254', 'LC-2019-0382567', 'LC-2019-0383104', 'LC-2019-0406879', 'LC-2019-0384311', 'LC-2019-0384538', 'LC-2019-0385060', 'LC-2019-0385208', 'LC-2019-0386569', 'LC-2019-0387616', 'LC-2019-0424630', 'LC-2019-0389566', 'LC-2019-0389566', 'LC-2019-0391249', 'LC-2019-0391255', 'LC-2019-0391262', 'LC-2019-0399316', 'LC-2019-0394619', 'LC-2019-0394727', 'LC-2019-0395231', 'PFA-2019-0000314', 'LC-2019-0396090', 'LC-2019-0397024', 'LC-2019-0397410', 'LC-2019-0398190', 'LC-2019-0398857', 'LC-2019-0399090', 'LC-2019-0402254', 'LC-2019-0402854', 'LC-2019-0402854', 'LC-2019-0402930', 'LC-2019-0400939', 'LC-2019-0403688', 'LC-2019-0404340', 'LC-2019-0404554', 'LC-2019-0404554', 'LC-2019-0406429', 'LC-2019-0407624', 'LC-2019-0408042', 'LC-2019-0408134', 'LC-2019-0408137', 'LC-2019-0412500', 'LC-2019-0412500', 'LC-2019-0412849', 'LC-2019-0413108', 'LC-2019-0416964', 'LC-2019-0418194', 'LC-2019-0421971', 'LC-2019-0422984', 'LC-2019-0562086', 'LC-2019-0423209', 'LC-2019-0425118', 'LC-2019-0425548', 'LC-2019-0426479', 'LC-2019-0427350', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428120', 'LC-2019-0428463', 'LC-2019-0426714', 'LC-2019-0426832', 'LC-2019-0437727', 'LC-2019-0438578', 'LC-2019-0438578', 'LC-2019-0440492', 'LC-2019-0445362', 'LC-2019-0445362', 'LC-2019-0445498', 'LC-2019-0445498', 'LC-2019-0451714', 'LC-2019-0448569', 'LC-2019-0449018', 'LC-2019-0449189', 'LC-2019-0449189', 'LC-2019-0472717', 'LC-2019-0450618', 'LC-2019-0451358', 'LC-2019-0454246', 'LC-2019-0454265', 'LC-2019-0454303', 'LC-2019-0457068', 'LC-2019-0459442', 'LC-2019-0463855', 'LC-2019-0465335', 'LC-2019-0465335', 'LC-2019-0470303', 'LC-2019-0469129', 'LC-2019-0469129', 'LC-2019-0047133', 'LC-2019-0017707', 'LC-2019-0478457', 'LC-2019-0485906', 'LC-2019-0481462', 'LC-2019-0482122', 'LC-2019-0484369', 'LC-2019-0485943', 'LC-2019-0486356', 'LC-2019-0487217', 'LC-2019-0487327', 'LC-2019-0487327', 'LC-2019-0488225', 'LC-2019-0488407', 'LC-2019-0489331', 'LC-2019-0489869', 'LC-2019-0492588', 'LC-2019-0644788', 'LC-2019-0642723', 'PFA-2019-0000118', 'LC-2019-0497476', 'LC-2019-0703847', 'LC-2019-0704458', 'LC-2019-0704458', 'LC-2019-0704458', 'LC-2019-0499805', 'LC-2019-0499805', 'LC-2019-0510041', 'LC-2019-0512118', 'LC-2019-0513058', 'LC-2019-0514262', 'LC-2019-0514262', 'LC-2019-0520203', 'LC-2019-0521287', 'LC-2019-0522441', 'LC-2019-0526442', 'LC-2019-0526442', 'LC-2019-0539947', 'PFA-2019-0002588', 'LC-2019-0528594', 'PFA-2019-0001382', 'LC-2019-0533977', 'LC-2019-0534190', 'LC-2019-0539050', 'LC-2019-0539129', 'LC-2019-0541527', 'LC-2019-0542191', 'LC-2019-0543101', 'LC-2019-0544339', 'LC-2019-0545908', 'LC-2019-0549981', 'LC-2019-0552269', 'LC-2019-0552626', 'LC-2019-0222144', 'LC-2019-0557099', 'LC-2019-0288435', 'LC-2019-0289379', 'LC-2019-0559815', 'LC-2019-0563340', 'LC-2019-0564652', 'LC-2019-0565450', 'LC-2019-0565450', 'LC-2019-0565450', 'LC-2019-0571074', 'LC-2019-0571936', 'LC-2019-0574299', 'LC-2019-0575883', 'LC-2019-0576640', 'LC-2019-0576894', 'LC-2019-0576941', 'LC-2019-0578690', 'LC-2019-0582605', 'LC-2019-0584469', 'LC-2019-0585911', 'LC-2019-0586986', 'LC-2019-0586986', 'LC-2019-0592123', 'LC-2019-0592123', 'LC-2019-0587134', 'LC-2019-0588446', 'LC-2019-0590725', 'LC-2019-0591114', 'LC-2019-0591672', 'LC-2019-0596097', 'LC-2019-0595034', 'LC-2019-0595145', 'LC-2019-0594440', 'LC-2019-0596482', 'LC-2019-0596482', 'LC-2019-0596971', 'LC-2019-0599226', 'LC-2019-0598205', 'LC-2019-0601535', 'LC-2019-0604288', 'LC-2019-0609778', 'LC-2019-0610771', 'LC-2019-0611174', 'LC-2019-0611174', 'LC-2019-0629478', 'LC-2019-0617711', 'LC-2019-0620773', 'LC-2019-0622728', 'LC-2019-0622728', 'LC-2019-0622728', 'LC-2019-0622728', 'LC-2019-0623622', 'LC-2019-0627753', 'LC-2019-0625723', 'LC-2019-0625674', 'LC-2019-0625882', 'LC-2019-0626237', 'LC-2019-0628132', 'LC-2019-0628332', 'LC-2019-0630202', 'LC-2019-0631538', 'LC-2019-0633483', 'LC-2019-0639354', 'LC-2019-0782622', 'LC-2019-0642400', 'LC-2019-0642400', 'LC-2019-0643314', 'LC-2019-0644202', 'LC-2019-0650482', 'LC-2019-0650482', 'LC-2019-0650482', 'LC-2019-0652463', 'LC-2019-0653106', 'LC-2019-0653707', 'LC-2019-0654446', 'LC-2019-0655303', 'LC-2019-0656859', 'LC-2019-0657846', 'LC-2019-0669905', 'LC-2019-0661634', 'LC-2019-0664517', 'LC-2019-0664517', 'LC-2019-0664574', 'LC-2019-0667630', 'LC-2019-0668150', 'LC-2019-0667172', 'LC-2019-0670445', 'LC-2019-0674236', 'LC-2019-0679386', 'LC-2019-0673228', 'LC-2019-0672799', 'LC-2019-0678342', 'LC-2019-0681161', 'LC-2019-0683129', 'LC-2019-0683129', 'LC-2019-0683207', 'LC-2019-0683207', 'LC-2019-0687171', 'LC-2019-0687984', 'LC-2019-0688499', 'LC-2019-0692970', 'LC-2019-0694160', 'LC-2019-0226889', 'PFA-2019-0000301', 'LC-2019-0695290', 'LC-2019-0698194', 'LC-2019-0699391', 'LC-2019-0363995', 'LC-2019-0704560', 'LC-2019-0569109', 'LC-2019-0713934', 'LC-2019-0784125', 'LC-2019-0714590', 'LC-2019-0716862', 'LC-2019-0715836', 'LC-2019-0714685', 'LC-2019-0715682', 'LC-2019-0716405', 'LC-2019-0713995', 'LC-2019-0717109', 'LC-2019-0718510', 'LC-2019-0718510', 'LC-2019-0718814', 'LC-2019-0720907', 'LC-2019-0016646', 'LC-2019-0721578', 'LC-2019-0723596', 'LC-2019-0724627', 'LC-2019-0726385', 'LC-2019-0726385', 'LC-2019-0726623', 'LC-2019-0728857', 'LC-2019-0729848', 'LC-2019-0731984', 'LC-2019-0730355', 'LC-2019-0730355', 'LC-2019-0735146', 'LC-2019-0733746', 'LC-2019-0734960', 'LC-2019-0737465', 'LC-2019-0738080', 'LC-2019-0741360', 'LC-2019-0742465', 'LC-2019-0747093', 'LC-2019-0747040', 'LC-2019-0747152', 'LC-2019-0748358', 'LC-2019-0748260', 'LC-2019-0751806', 'LC-2019-0753872', 'LC-2019-0754697', 'LC-2019-0754933', 'LC-2019-0756888', 'LC-2019-0760169', 'LC-2019-0760241', 'LC-2019-0760708', 'LC-2019-0764954', 'LC-2019-0483085', 'LC-2019-0230425', 'LC-2019-0770339', 'LC-2019-0775506', 'LC-2019-0779437', 'LC-2019-0780605', 'LC-2019-0783428', 'LC-2019-0785509', 'LC-2019-0785509', 'LC-2019-0785917', 'LC-2019-0786079', 'LC-2019-0786186', 'LC-2019-0786335', 'LC-2019-0714583', 'LC-2019-0787811', 'LC-2019-0789231', 'LC-2019-0787032', 'LC-2019-0787108', 'LC-2019-0788459', 'LC-2019-0789071', 'LC-2019-0791863', 'LC-2019-0793434', 'LC-2019-0794628', 'LC-2019-0798824', 'LC-2019-0801314', 'LC-2019-0801781', 'LC-2019-0806378', 'LC-2019-0805240', 'LC-2019-0808658', 'LC-2019-0809677', 'LC-2019-0809677', 'LC-2019-0814768', 'LC-2019-0820450', 'LC-2019-0821504', 'LC-2019-0825248', 'LC-2019-0825248', 'LC-2019-0825124', 'LC-2019-0827385', 'LC-2019-0826300', 'LC-2019-0828693', 'LC-2019-0829834', 'LC-2019-0829653', 'LC-2020-0014194', 'LC-2020-0032603', 'LC-2020-0033993', 'LC-2020-0040501', 'LC-2020-0058430', 'LC-2020-0095119', 'LC-2020-0119620', 'LC-2020-0148886', 'LC-2020-0156460', 'LC-2020-0243248', 'LC-2020-0312651', 'LC-2020-0315731', 'LC-2020-0440731', 'LC-2020-0463780', 'LC-2020-0491466', 'LC-2020-0501514', 'LC-2020-0521670', 'LC-2020-0530248', 'LC-2020-0536235', 'LC-2020-0549752', 'LC-2020-0555383', 'LC-2020-0581113', 'LC-2020-0601663', 'LC-2020-0605529', 'LC-2020-0605710', 'LC-2020-0003335', 'LC-2020-0008854', 'LC-2020-0009247', 'LC-2020-0010446', 'LC-2020-0012172', 'LC-2020-0012993', 'LC-2020-0012993', 'LC-2020-0012993', 'LC-2020-0013653', 'LC-2020-0013653', 'LC-2020-0014239', 'LC-2020-0014548', 'LC-2020-0015215', 'LC-2020-0018602', 'LC-2020-0018621', 'LC-2020-0019737', 'LC-2020-0029707', 'LC-2020-0034364', 'LC-2020-0032528', 'LC-2020-0035844', 'LC-2020-0036402', 'LC-2020-0036402', 'LC-2020-0036455', 'LC-2020-0036894', 'LC-2020-0036894', 'LC-2020-0037204', 'LC-2020-0037516', 'LC-2020-0038396', 'LC-2020-0040536', 'LC-2020-0045421', 'LC-2020-0047280', 'LC-2020-0048731', 'LC-2020-0047628', 'LC-2020-0052079', 'LC-2020-0054540', 'LC-2020-0055186', 'LC-2020-0056510', 'LC-2020-0064877', 'LC-2020-0062673', 'LC-2020-0064451', 'LC-2020-0066597', 'LC-2020-0067132', 'LC-2020-0069739', 'LC-2020-0070572', 'LC-2020-0071163', 'LC-2020-0073614', 'LC-2020-0075672', 'LC-2020-0078865', 'LC-2020-0078904', 'LC-2020-0080203', 'LC-2020-0079039', 'LC-2020-0080271', 'LC-2020-0086624', 'LC-2020-0086615', 'LC-2020-0094507', 'LC-2020-0100950', 'LC-2020-0104501', 'LC-2020-0106898', 'LC-2020-0109564', 'LC-2020-0109604', 'LC-2020-0109604', 'LC-2020-0109617', 'LC-2020-0117887', 'LC-2020-0118130', 'LC-2020-0126254', 'LC-2020-0127492', 'LC-2020-0125712', 'LC-2020-0130012', 'HC-2020-0129167', 'LC-2020-0133088', 'LC-2020-0135576', 'LC-2020-0135825', 'LC-2020-0144473', 'LC-2020-0146851', 'LC-2020-0148258', 'LC-2020-0151936', 'LC-2020-0152911', 'LC-2020-0152834', 'LC-2020-0156993', 'LC-2020-0158369', 'LC-2020-0160978', 'LC-2020-0160978', 'LC-2020-0163537', 'LC-2020-0164253', 'LC-2020-0164253', 'LC-2020-0166235', 'LC-2020-0169622', 'LC-2020-0169921', 'LC-2020-0174751', 'LC-2020-0177206', 'LC-2020-0180037', 'LC-2020-0186392', 'LC-2020-0189384', 'LC-2020-0192488', 'LC-2020-0198305', 'LC-2020-0202436', 'LC-2020-0202881', 'LC-2020-0203017', 'LC-2020-0207514', 'LC-2020-0207514', 'LC-2020-0210772', 'LC-2020-0219140', 'LC-2020-0221192', 'LC-2020-0226964', 'LC-2020-0233332', 'LC-2020-0233750', 'LC-2020-0233317', 'LC-2020-0235180', 'LC-2020-0236242', 'LC-2020-0236244', 'LC-2020-0236255', 'LC-2020-0236439', 'LC-2020-0239992', 'LC-2020-0243296', 'LC-2020-0243872', 'LC-2020-0244301', 'LC-2020-0247062', 'LC-2020-0250528', 'LC-2020-0250543', 'LC-2020-0252324', 'LC-2020-0252355', 'LC-2020-0254488', 'LC-2020-0254501', 'LC-2020-0254983', 'LC-2020-0256398', 'LC-2020-0258002', 'LC-2020-0258090', 'LC-2020-0266202', 'LC-2020-0272700', 'LC-2020-0273475', 'LC-2020-0277919', 'LC-2020-0289726', 'LC-2020-0291144', 'LC-2020-0296777', 'LC-2020-0296777', 'LC-2020-0296777', 'LC-2020-0296777', 'LC-2020-0295766', 'LC-2020-0296652', 'LC-2020-0297498', 'LC-2020-0298774', 'LC-2020-0314880', 'LC-2020-0361823', 'LC-2020-0236983', 'LC-2020-0378363', 'LC-2020-0387137', 'LC-2020-0435701', 'LC-2020-0437222', 'LC-2020-0441093', 'LC-2020-0445441', 'LC-2020-0445350', 'LC-2020-0450678', 'LC-2020-0452010', 'LC-2020-0463624', 'LC-2020-0463624', 'LC-2020-0464063', 'LC-2020-0470556', 'LC-2020-0471322', 'LC-2020-0481320', 'LC-2020-0491597', 'LC-2020-0491597', 'LC-2020-0494711', 'LC-2020-0497249', 'LC-2020-0497695', 'LC-2020-0497937', 'LC-2020-0500083', 'LC-2020-0501537', 'LC-2020-0503386', 'LC-2020-0505116', 'LC-2020-0505867', 'LC-2020-0508162', 'LC-2020-0513862', 'LC-2020-0514005', 'LC-2020-0514850', 'LC-2020-0516241', 'LC-2020-0519731', 'LC-2020-0526649', 'LC-2020-0527536', 'LC-2020-0530719', 'LC-2020-0530719', 'LC-2020-0532140', 'LC-2020-0537258', 'LC-2020-0538255', 'LC-2020-0538385', 'LC-2020-0539875', 'LC-2020-0539942', 'LC-2020-0550109', 'LC-2020-0553811', 'LC-2020-0556731', 'LC-2020-0558255', 'LC-2020-0558999', 'LC-2020-0559982', 'LC-2020-0563571', 'LC-2020-0565973', 'LC-2020-0567324', 'LC-2020-0567324', 'LC-2020-0567324', 'LC-2020-0567324', 'LC-2020-0567836', 'LC-2020-0568638', 'LC-2020-0571165', 'LC-2020-0570872', 'LC-2020-0572452', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576329', 'LC-2020-0576390', 'LC-2020-0579472', 'LC-2020-0580185', 'LC-2020-0579674', 'LC-2020-0592026', 'LC-2020-0601157', 'LC-2020-0601906', 'LC-2020-0601906', 'LC-2020-0602876', 'LC-2020-0602876', 'LC-2020-0602658', 'LC-2020-0607025', 'LC-2020-0616666', 'LC-2020-0618069', 'LC-2020-0619521', 'LC-2020-0622839', 'LC-2020-0626651', 'LC-2020-0630838', 'LC-2020-0631642', 'LC-2020-0633222', 'LC-2020-0633634', 'LC-2020-0633867', 'LC-2020-0633970', 'LC-2020-0637839', 'LC-

In [107]:
verificar(df_final_lesiones)

                  Columna  Tipos de Dato  Cantidad de Nulos  % de Nulos
0                id_hecho          [str]                  0        0.00
1              n_victimas          [int]                  0        0.00
2                   fecha    [Timestamp]                  0        0.00
3             franja_hora  [int, NAType]                  8        0.03
4   direccion_normalizada   [float, str]              12696       46.00
5                  comuna  [int, NAType]               1624        5.88
6              tipo_calle   [float, str]              12879       46.67
7          otra_direccion   [str, float]              21138       76.59
8                   calle   [float, str]              12744       46.18
9                  altura        [float]              12847       46.55
10                  cruce   [float, str]              16713       60.56
11   geocodificacion_CABA   [str, float]               1430        5.18
12                  pos_x        [float]               1656        6.00
13                  pos_y        [float]               1656        6.00
14                victima   [str, float]              12822       46.46
15                acusado   [float, str]              17918       64.92
16          participantes          [str]                  0        0.00
17               gravedad          [str]                  0        0.00
18       vehiculo_victima     [nan, str]              16269       58.95
19           sexo_victima   [float, str]               2228        8.07
20           edad_victima  [NAType, int]               4471       16.20

In [108]:
df_final_lesiones.head()

,id_hecho,n_victimas,fecha,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,pos_x,pos_y,victima,acusado,participantes,gravedad,vehiculo_victima,sexo_victima,edad_victima
0,LC-2019-0000179,1,2019-01-01,9,NaN,14,NaN,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,ciclista,NaN,ciclista-sd,leve,NaN,NaN,<NA>
1,LC-2019-0000053,1,2019-01-01,1,NaN,8,NaN,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,auto,NaN,auto-sd,leve,NaN,Masculino,57
2,LC-2019-0000063,1,2019-01-01,2,NaN,8,NaN,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,NaN,NaN,sd-sd,leve,NaN,NaN,<NA>
3,LC-2019-0000079,1,2019-01-01,2,NaN,7,NaN,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,peatón,NaN,peaton-sd,leve,NaN,Masculino,<NA>
4,LC-2019-0000082,4,2019-01-01,4,NaN,3,NaN,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,auto,NaN,auto-sd,leve,NaN,Masculino,45

In [109]:
columnas_a_eliminar = ['direccion_normalizada', 'otra_direccion', 'calle', 'altura', 'cruce', 'geocodificacion_CABA', 'vehiculo_victima' ]
df_final_lesiones = df_final_lesiones.drop(columnas_a_eliminar, axis=1)

In [110]:
df_final_lesiones.head()

,id_hecho,n_victimas,fecha,franja_hora,comuna,tipo_calle,pos_x,pos_y,victima,acusado,participantes,gravedad,sexo_victima,edad_victima
0,LC-2019-0000179,1,2019-01-01,9,14,NaN,-58.408911,-34.559658,ciclista,NaN,ciclista-sd,leve,NaN,<NA>
1,LC-2019-0000053,1,2019-01-01,1,8,NaN,-58.443510,-34.669125,auto,NaN,auto-sd,leve,Masculino,57
2,LC-2019-0000063,1,2019-01-01,2,8,NaN,-58.468335,-34.677556,NaN,NaN,sd-sd,leve,NaN,<NA>
3,LC-2019-0000079,1,2019-01-01,2,7,NaN,-58.437425,-34.647349,peatón,NaN,peaton-sd,leve,Masculino,<NA>
4,LC-2019-0000082,4,2019-01-01,4,3,NaN,-58.398225,-34.604579,auto,NaN,auto-sd,leve,Masculino,45

## Guardar la data procesada en formato CSV

In [111]:
df_final_lesiones.to_csv('datos/lesiones_hechos_victimas.csv', index=False)